<a href="https://colab.research.google.com/github/Jiraporn-klobrat/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้

ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/.../1D... )

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

โดยข้อมูลสำคัญที่ต้องแสดงคือ
* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

**```ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565```**

## **รายชื่อสมาชิก**

ชื่อกลุ่ม: pioned
1. นางสาวสุวิชญา ก้องเวหา 623020455-5
2. นางสาวจิราพร กลบรัตน์ 623020762-6
3. นายวีระพล เพชร์ฤาชา 623021007-7
4. นางสาวทอฝัน พงษ์พิเดช 623021048-3

## **แหล่งข้อมูล**

Drive : https://drive.google.com/drive/u/1/folders/1flfO6qeMSSsKySfOywBoiux73glmV8JG

Dashboard : https://datastudio.google.com/u/1/reporting/b1d08415-72b7-40f4-92a7-e728a7fd1f93/page/jgDqC

## Import Data

In [1]:
import pandas as pd #นำเข้าฟังชันก์ pandas โดยกำหนดให้ชื่อ pd # pandas เป็น Package ที่ใช้เกี่ยวกับการจัดการข้อมูลที่เป็นตาราง , เรียกใช้โดยการ import แล้วตามด้วยชื่อ Package
import os    # เป็น package ที่เอาไว้จัดการไฟล์และเอาไว้ดูที่มาของไฟล์หรือ path

In [2]:
from google.colab import drive    # เชื่อมต่อกับ google drive ที่เราเก็บข้อมูลไว้
drive.mount('/content/drive')
path = '/content/drive/My Drive/Final_Exam'    #ระบุให้ชี้ไปที่โฟลเดอร์ใน google drive ที่เราเซฟไฟล์ไว้ คือ โฟลเดอร์ Final_Exam

Mounted at /content/drive

### ข้อมูล alldb.csv

In [3]:
data_alldb = pd.read_csv(os.path.join(path,'alldb.csv'))    # ไฟล์ที่เราต้องการ  # .read_csv อ่านไฟล์ที่เป็นcsv
data_alldb  # ดูหน้าตาข้อมูลว่าเป็นยังไง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [4]:
data_alldb.head()  # ดูหน้าตาข้อมูลว่าหัวตารางเป็นยังไง โดยการใช้ .head()

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed

In [5]:
data_alldb.shape    # .shape เพื่อดูขนาดของข้อมูล

(40035, 14)

In [6]:
data_alldb_df = data_alldb[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]    ## กำหนดให้ตารางชื่อ data_alldb_df โดยทำการเลือกเก็บข้อมูลในตาราง data_alldb จำนวนทั้งหมด 9  คอลัมน์ 
data_alldb_df   ## แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [7]:
data_alldb_df.dtypes    #ดู type ของข้อมูล

user            object
RowKey          object
date            object
ov              object
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age             object
dtype: object

In [8]:
data_alldb_df.isnull().sum()     #sum ดูค่าmissing

user            762
RowKey            1
date            554
ov              364
phone             3
site             99
time            557
urine           253
PartitionKey    185
title           444
age             542
dtype: int64

#### ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้

**```เปลี่ยน Type data```**

##### user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [9]:
data_alldb_df = data_alldb_df[(data_alldb_df['user'].astype(str).str.isdigit())& (data_alldb_df['user'].str.len() == 5)]     #.str.isdigit ใช้เพื่อตรวจสอบว่าอักขระทั้งหมดเป็นตัวเลขหรือไม่ # เปลี่ยนคอลัมน์ user ให้มีตัวเลข 5 ตัว 
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed

In [10]:
data_alldb_df.shape

(38508, 11)

In [69]:
set(data_alldb_df['user'])    # ดู set ข้อมูลของ user

{'19855',
 '57099',
 '45641',
 '16085',
 '02128',
 '50471',
 '34705',
 '59361',
 '86774',
 '18041',
 '61338',
 '95609',
 '77358',
 '46333',
 '51301',
 '84392',
 '62962',
 '59423',
 '25829',
 '14387',
 '50466',
 '54599',
 '78901',
 '00126',
 '18733',
 '00008',
 '90888',
 '03169',
 '00308',
 '77572',
 '74394',
 '79920',
 '21177',
 '63799',
 '64211',
 '03080',
 '29051',
 '96699',
 '73445',
 '00151',
 '63606',
 '67352',
 '06316',
 '65509',
 '68768',
 '88337',
 '66780',
 '46415',
 '12041',
 '01594',
 '52902',
 '66062',
 '06436',
 '47656',
 '49961',
 '64810',
 '48440',
 '31208',
 '25593',
 '06385',
 '09269',
 '66205',
 '00038',
 '25923',
 '51065',
 '20061',
 '29514',
 '86588',
 '51205',
 '27902',
 '00233',
 '00409',
 '00033',
 '45881',
 '00169',
 '23675',
 '77509',
 '37732',
 '59181',
 '29159',
 '15102',
 '98156',
 '64081',
 '03217',
 '61044',
 '00301',
 '74338',
 '64199',
 '85444',
 '40533',
 '81621',
 '00122',
 '82954',
 '44888',
 '51903',
 '00271',
 '02579',
 '02594',
 '43228',
 '12576',
 '89681',
 '61121',
 '80734',
 '42465',
 '11569',
 '69431',
 '01651',
 '70610',
 '00024',
 '53011',
 '83257',
 '47615',
 '34169',
 '03381',
 '00049',
 '25176',
 '00298',
 '54614',
 '82582',
 '85094',
 '61087',
 '00117',
 '68037',
 '91917',
 '90817',
 '49596',
 '00288',
 '28010',
 '03831',
 '14455',
 '37249',
 '85934',
 '18402',
 '63200',
 '62059',
 '03663',
 '07166',
 '62440',
 '75579',
 '00149',
 '11727',
 '00235',
 '23214',
 '89381',
 '61320',
 '27732',
 '87536',
 '16144',
 '56845',
 '75487',
 '13978',
 '00134',
 '00283',
 '44845',
 '00054',
 '32666',
 '79590',
 '47844',
 '84005',
 '16820',
 '73375',
 '49424',
 '46481',
 '70490',
 '33171',
 '55911',
 '00285',
 '01009',
 '27129',
 '00020',
 '10691',
 '00172',
 '34988',
 '47607',
 '61419',
 '05047',
 '91402',
 '21751',
 '41951',
 '34317',
 '29094',
 '41301',
 '00404',
 '62241',
 '31143',
 '29441',
 '00293',
 '03359',
 '14764',
 '96771',
 '68317',
 '04991',
 '16174',
 '65321',
 '67379',
 '00286',
 '70370',
 '63477',
 '75910',
 '06079',
 '74103',
 '24612',
 '00291',
 '49161',
 '59051',
 '87468',
 '22635',
 '32891',
 '04055',
 '55239',
 '22099',
 '99011',
 '70290',
 '00132',
 '33503',
 '10534',
 '52724',
 '00160',
 '16247',
 '00182',
 '81057',
 '26989',
 '83662',
 '09188',
 '33237',
 '12023',
 '71872',
 '15737',
 '95104',
 '76096',
 '32581',
 '27143',
 '86547',
 '00036',
 '26990',
 '89801',
 '46970',
 '22456',
 '00017',
 '03562',
 '98829',
 '00212',
 '15801',
 '87394',
 '05433',
 '58718',
 '00022',
 '02263',
 '97057',
 '00321',
 '00307',
 '53579',
 '44812',
 '05063',
 '15963',
 '77978',
 '17982',
 '27503',
 '30481',
 '87315',
 '83449',
 '73419',
 '00302',
 '47135',
 '89576',
 '13070',
 '73038',
 '15046',
 '20452',
 '00155',
 '67212',
 '63767',
 '47933',
 '00131',
 '81724',
 '23231',
 '69681',
 '25221',
 '00578',
 '38522',
 '00316',
 '41182',
 '37691',
 '05304',
 '04387',
 '19762',
 '80880',
 '00073',
 '17974',
 '98171',
 '00185',
 '54974',
 '36001',
 '67093',
 '83377',
 '73496',
 '93028',
 '00343',
 '27678',
 '19364',
 '25219',
 '26469',
 '10375',
 '81537',
 '00232',
 '29875',
 '27589',
 '87738',
 '28186',
 '52350',
 '91125',
 '15229',
 '69037',
 '45485',
 '50004',
 '00043',
 '76088',
 '00187',
 '27484',
 '47429',
 '53041',
 '53510',
 '40059',
 '02853',
 '93307',
 '60953',
 '00170',
 '19265',
 '44364',
 '00146',
 '89394',
 '28291',
 '74378',
 '72330',
 '19808',
 '19575',
 '38500',
 '00031',
 '52520',
 '15678',
 '77567',
 '16428',
 '50911',
 '87541',
 '93189',
 '09006',
 '67972',
 '37140',
 '61182',
 '80289',
 '80673',
 '00055',
 '10405',
 '25331',
 '13361',
 '86721',
 '98488',
 '00287',
 '46960',
 '86483',
 '29999',
 '71228',
 '00124',
 '51973',
 '18385',
 '17184',
 '49880',
 '49413',
 '48298',
 '31551',
 '81570',
 '28551',
 '74414',
 '05590',
 '11891',
 '00078',
 '00297',
 '63068',
 '00221',
 '28402',
 '53356',
 '84375',
 '14491',
 '38771',
 '00273',
 '89290',
 '47938',
 '19591',
 '80382',
 '05242',
 '21378',
 '67409',
 '74747',
 '12413',
 '04461',
 '33100',
 '52912',
 '00002',
 '02825',
 '82894',
 '62415',
 '08971',
 '14189',
 '47122',
 '83777',
 '00069',
 '93509',
 '74432',
 '87067',
 '26511',
 '05210',
 '94295',
 '53076',
 '55659',
 '52227',
 '48016',
 '23078',
 '25179',
 '35512',
 '05663',
 '46783',
 '36141',
 '32200',
 '30059',
 '40881',
 '40865',
 '24994',
 '19411',
 '69576',
 '46313',
 '22478',
 '06223',
 '28890',
 '72938',
 '75126',
 '84374',
 '48274',
 '33081',
 '45924',
 '68856',
 '01461',
 '00153',
 '05151',
 '61265',
 '98474',
 '00001',
 '80175',
 '99991',
 '55873',
 '10194',
 '46767',
 '00041',
 '00328',
 '19250',
 '68759',
 '00203',
 '00074',
 '65075',
 '99376',
 '47354',
 '29118',
 '73946',
 '37408',
 '79525',
 '87771',
 '00781',
 '95927',
 '12022',
 '75911',
 '56044',
 '96061',
 '43431',
 '42098',
 '20454',
 '20435',
 '11027',
 '22244',
 '10993',
 '86133',
 '05116',
 '26574',
 '18892',
 '21432',
 '56326',
 '65854',
 '01068',
 '37091',
 '00266',
 '48962',
 '60147',
 '89493',
 '61486',
 '75841',
 '19273',
 '70281',
 '17769',
 '25943',
 '32468',
 '20690',
 '23049',
 '00029',
 '41937',
 '03431',
 '00194',
 '43143',
 '70059',
 '70671',
 '03649',
 '00125',
 '25466',
 '38822',
 '50047',
 '57954',
 '00141',
 '24501',
 '50349',
 '00115',
 '48514',
 '86542',
 '00156',
 '88942',
 '92893',
 '36994',
 '00004',
 '14771',
 '78731',
 '00118',
 '73302',
 '29476',
 '50276',
 '18253',
 '00133',
 '07331',
 '00178',
 '63429',
 '93991',
 '76803',
 '73251',
 '12561',
 '31133',
 '25683',
 '35178',
 '12044',
 '42228',
 '34096',
 '84055',
 '00394',
 '48042',
 '38778',
 '67615',
 '63039',
 '00351',
 '84495',
 '99992',
 '00265',
 '94019',
 '40886',
 '55430',
 '87797',
 '03523',
 '22804',
 '68162',
 '90257',
 '28241',
 '50951',
 '05152',
 '23885',
 '73336',
 '63274',
 '46662',
 '39448',
 '65775',
 '29309',
 '84935',
 '37826',
 '11361',
 '17536',
 '89837',
 '44902',
 '84493',
 '52481',
 '18513',
 '01861',
 '35605',
 '01883',
 '00046',
 '32622',
 '00277',
 '68081',
 '49791',
 '03731',
 '26440',
 '19632',
 '95821',
 '00171',
 '43868',
 '00150',
 '00284',
 '70187',
 '31869',
 '20291',
 '00018',
 '05232',
 '76851',
 '18527',
 '33251',
 '52921',
 '63880',
 '78960',
 '27096',
 '96099',
 '00342',
 '18849',
 '60181',
 '16604',
 '17277',
 '83303',
 '54761',
 '51310',
 '84187',
 '66191',
 '30767',
 '00299',
 '45593',
 '19241',
 '96730',
 '36358',
 '20215',
 '26445',
 '46897',
 '67450',
 '90070',
 '00034',
 '02990',
 '05039',
 '25128',
 '90609',
 '51474',
 '89470',
 '88973',
 '55075',
 '20827',
 '37231',
 '83276',
 '98080',
 '00051',
 '15734',
 '69556',
 '15971',
 '98519',
 '77249',
 '30283',
 '01248',
 '65953',
 '18331',
 '00163',
 '15980',
 '37127',
 '58500',
 '16162',
 '16970',
 '61813',
 '00189',
 '61746',
 '16971',
 '29485',
 '92756',
 '70810',
 '95301',
 '02647',
 '11111',
 '79817',
 '46775',
 '42468',
 '81472',
 '00197',
 '41061',
 '74335',
 '28992',
 '00053',
 '06924',
 '01088',
 '45701',
 '37915',
 '66386',
 '49322',
 '00138',
 '88538',
 '70957',
 '00168',
 '09582',
 '51689',
 '58814',
 '06655',
 '38518',
 '05272',
 '00009',
 '63910',
 '00025',
 '73225',
 '82822',
 '74369',
 '97255',
 '50837',
 '78673',
 '12345',
 '09343',
 '08436',
 '80463',
 '96349',
 '95935',
 '32310',
 '07573',
 '92648',
 '61605',
 '26462',
 '74069',
 '58845',
 '50580',
 '61095',
 '86981',
 '45825',
 '33553',
 '00161',
 '00201',
 '76459',
 '00013',
 '53188',
 '36385',
 '54468',
 '06283',
 '29391',
 '18025',
 '65254',
 '99250',
 '29000',
 '78231',
 '23811',
 '91209',
 '95127',
 '54734',
 '23889',
 '02471',
 '51039',
 '61359',
 '85753',
 '18769',
 '41000',
 '77665',
 '00023',
 '25837',
 '00177',
 '00241',
 '14088',
 '79001',
 '10046',
 '00296',
 '10992',
 '08818',
 '40577',
 '15588',
 '75251',
 '02693',
 '30024',
 '02547',
 '06855',
 '85702',
 '00400',
 '74493',
 '19675',
 '00252',
 '20304',
 '34585',
 '00267',
 '52219',
 '80067',
 '47567',
 '04281',
 '00215',
 '00027',
 '11177',
 '00205',
 '00320',
 '84409',
 '77254',
 '63748',
 '39524',
 '38381',
 '30660',
 '68006',
 '30511',
 '28743',
 '63564',
 '73233',
 '05038',
 '76011',
 '95668',
 '70196',
 '32591',
 '41042',
 '84479',
 '72169',
 '00147',
 '47157',
 '09902',
 '17415',
 '30431',
 '23338',
 '54679',
 '87337',
 '48908',
 '75771',
 '06790',
 '05391',
 '30067',
 '92042',
 '96670',
 '51795',
 '11611',
 '52830',
 '19201',
 '00216',
 '06260',
 '75519',
 '26477',
 '06271',
 '59476',
 '82777',
 '80847',
 '11864',
 '18954',
 '42453',
 '80336',
 '54458',
 '04857',
 '00190',
 '45729',
 '78257',
 '76819',
 '00021',
 '55865',
 '51568',
 '00324',
 '84276',
 '01467',
 '24622',
 '16372',
 '71805',
 '47593',
 '67400',
 '00180',
 '23596',
 '73158',
 '14914',
 '51501',
 '01008',
 '00202',
 '71781',
 '00210',
 '84494',
 '65390',
 '00295',
 '45914',
 '03263',
 '91645',
 '14667',
 '96760',
 '59305',
 '12378',
 '26779',
 '31011',
 '90770',
 '62061',
 '69566',
 '49178',
 '00158',
 '62517',
 '26540',
 '77811',
 '34801',
 '22680',
 '00040',
 '32999',
 '91947',
 '18008',
 '80979',
 '91438',
 '00263',
 '42682',
 '14255',
 '37228',
 '11007',
 '95291',
 '29907',
 '02639',
 '83659',
 '35942',
 '95978',
 '66801',
 '78054',
 '11165',
 '11808',
 '10120',
 '16112',
 '88315',
 '61591',
 '46285',
 '29417',
 '21955',
 '30041',
 '00142',
 '94494',
 '00162',
 '05019',
 '65555',
 '72988',
 '45161',
 '19903',
 '00280',
 '19002',
 '13312',
 '32387',
 '00315',
 '83733',
 '61806',
 '00019',
 '12605',
 '51235',
 '32831',
 '00224',
 '33219',
 '14380',
 '00183',
 '59226',
 '48768',
 '68829',
 '83725',
 '37914',
 '50802',
 '58271',
 '67850',
 '70948',
 '16214',
 '17777',
 '31619',
 '31755',
 '63312',
 '00211',
 '44201',
 '82951',
 '00289',
 '63471',
 '37151',
 '33316',
 '77782',
 '50577',
 '14988',
 '00322',
 '50624',
 '00012',
 '00268',
 '23796',
 '00214',
 '41921',
 '26043',
 '02728',
 '00174',
 '00748',
 '90516',
 '37259',
 '21860',
 '00015',
 '18181',
 '05228',
 '31982',
 '76299',
 '99835',
 '05358',
 '95631',
 '49634',
 '66155',
 '76105',
 '00052',
 '49782',
 '28917',
 '08773',
 '92747',
 '66437',
 '00028',
 '23186',
 '81095',
 '63865',
 '00281',
 '59326',
 '24986',
 '71791',
 '00026',
 '24179',
 '88459',
 '65678',
 ...}

##### RowKey เป็น String

In [11]:
import numpy as np

In [12]:
data_alldb_df['RowKey'] = data_alldb_df['RowKey'].astype('str')
data_alldb_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed

In [13]:
data_alldb_df.shape

(38508, 11)

In [70]:
set(data_alldb_df['RowKey'])    # ดู set ข้อมูลของ RowKey

{'2A38A8CD-0960-4710-AB34-2CD7D653E9BD',
 '29E3629B-1C20-4544-B4F7-D5618D1D5BC1',
 'xfnfdkhtdq.png',
 '182697FF-471B-4D33-AFCB-10A434583F1A',
 'povhjwogum.png',
 '68231227-737C-4C83-8085-64AEC4C52DCD',
 '8F567F3B-77B3-4428-833C-E5629181008E',
 'mfbzmhnfki.png',
 'ivrniuerqf.png',
 'wbzqppsmev.png',
 'vrebodesje.png',
 '6084EC36-5426-4065-9C19-951AAE4CD3AB',
 '192B0F8D-3904-4853-BDA2-7E3B441CFF47',
 'gzguqaiaom.png',
 'F6EB7B51-72DA-486B-AA81-18AE248FA791',
 'ydgzmchvnz.png',
 'kqhjuimzcn.png',
 'rzvtiofjmc.png',
 'C137B2AA-99F9-431F-B24A-52C8DF3324C9',
 'degjefnnyv.png',
 'bunxccdbyw.png',
 'ljfjlttfoj.png',
 'croabvming.png',
 'F28232F9-E55A-429E-91C0-53CCF3D70BCA',
 '917F78FC-6ACD-4D10-B3F7-41059D7F1F10',
 '8451108D-8335-4312-9009-7EAA7B468F91',
 'qplhjqchac.png',
 'dfoegkkkbb.png',
 'rvchtzkzsr.png',
 'CC32DC43-0281-4B5C-937E-09711995D6B9',
 '7215C4AD-24D9-4EC7-82B0-078CD7A16016',
 'zrhdfttefy.png',
 'A2EAAC01-7490-496E-AE8F-4C574F88B8BB',
 '6C298076-4F64-4B1D-AAE7-0890E5A06E96',
 'vbkwsnsvvj.png',
 'FBC93516-C4AB-4BBE-8713-5F3CD686795D',
 '0DE00DE5-E176-433A-A29E-8ADF8CF2B8D3',
 'rphkwohbpq.png',
 'tueozsnuuq.png',
 'F085AA31-25C9-45DB-AABE-69BF3D6E0C23',
 'CFE23859-0EE0-42DC-BC2F-7ADB523C1E83',
 'ABF48F64-5675-420C-B22F-5CFEFD9B6FF8',
 'D92880D0-2571-4249-8CCD-DD7281ABE657',
 '275F4342-FD7E-4505-9FCE-2CE1286E0DEE',
 'qklnzsatzf.png',
 'imybvdrgoc.png',
 'spjoihkkcz.png',
 'qgdncwysgr.png',
 '423A8E65-4C0F-4928-BA53-A5F161E5DC8B',
 '287A6ABD-748F-4715-B795-03870D791F49',
 '642961D6-EFFE-4C6E-86B1-6BA62E238419',
 'inqdupryhm.png',
 'rougadpxgc.png',
 'D6FDC901-9873-4FE9-B4EE-3EF2307D4377',
 'izvurcfrjy.png',
 'F5F9E122-3F07-4745-980F-C4F8C5550B13',
 '61C087A2-15C1-4CA1-AB8F-7339BFA46838',
 'EDCD4594-4E10-46EE-B6CB-071A18CF7BCE',
 '24F3581B-DC9E-49A4-9BF9-616C8BAA8043',
 'jztutsfqmy.png',
 'F9D4B486-7A6B-4E4F-9DF8-CE5920892E26',
 'uixgpwmocm.png',
 'kkxhbmyjqk.png',
 '1ADFB057-BC1D-40C5-B358-62AC4319DAC6',
 '93347AC6-F590-4C36-AD94-5BA44718E9BE',
 'E7C40255-3F30-4DF0-AD37-93F5D4279CD1',
 '7EF8D10B-C102-44C5-87D2-34D0B8A605D0',
 'nmwahkidqc.png',
 'A8C72472-7768-4F6C-B8EA-1575BD57FCDA',
 '4E61F391-7748-45FA-A3E0-AAB60F0193AE',
 'avtferwxmk.png',
 'qpbgxyspzy.png',
 '8B4F1464-5F66-4CB2-A513-B199DC8B1098',
 '281512CA-949B-4566-A2A8-433F671E0630',
 '9E519E3C-C286-4BF2-A7BC-87DD5CED7CB3',
 'gnavmnmzud.png',
 '8413DB45-7369-4947-B6B8-D7F2172E043B',
 '976F9A98-41BA-4006-839B-C8351BFB9562',
 'nhrblgrcwf.png',
 'wybiyjvuge.png',
 'hwemwzcpxg.png',
 '9DEEC22F-A7A2-456D-932C-31E59DEB9075',
 'C2D7DF47-5518-4FF1-88E5-9AA6668E3595',
 '2BA613E7-DD5D-4CA0-97ED-EC03E857A464',
 '1EE46CE1-461C-4F05-9587-C1E36C012FE9',
 'vgxfepczlq.png',
 'vnggskggnj.png',
 'AECA3B17-0CA0-4377-B5CA-BBB7E0217AC0',
 'nqvpeytdkx.png',
 '9C2E9E5D-6FD9-4B03-A4CC-4EF16E6B8F7F',
 'BBBD0934-E1EB-40BE-8829-0BEED1C189CD',
 '8ED602C5-6F14-46B1-931C-1365E2999F2F',
 'dpunfmwpzc.png',
 '48D03AF7-5DD6-4C65-8BC6-0011EB952280',
 'yktowjrque.png',
 '547D33D2-3325-48A7-957C-12DB8D4EE018',
 'xwuundfscs.png',
 'qckhwqmpkg.png',
 'yityhwgelf.png',
 '3DF1479B-F466-41E6-87EA-2803C5D621C2',
 'kumxviubpm.png',
 '067D02EB-2BE3-4712-9D50-67582789AE23',
 'tjhkjsbusw.png',
 'atnkpvqmgf.png',
 '0CA70275-A057-47EE-927D-B43AFEA4493B',
 'nibfgfglpg.png',
 '93462C24-0431-40E8-841D-F1A97C07FE63',
 'bzznwayikv.png',
 'BB8A0220-239D-462B-AD6F-F10FD4BD852B',
 '4502BD33-A94B-4B4A-834F-851A82DEF217',
 'gwrjugbepy.png',
 'hhzjklwpnk.png',
 'ujkpgpsudn.png',
 'D9065544-ABAA-410D-B83F-CCCF1CEA8AF9',
 'wtxpihckvx.png',
 'ezcxgdutxl.png',
 '483241C0-BEA6-43B3-BB9D-7276FE4E2946',
 'kqlnkaevuc.png',
 '31478C7B-B2DE-4F80-8EBD-DD9965278F58',
 'B8E8F6E2-A5C6-411C-867B-595E1AF1C0F8',
 'E0D355A1-333B-40C9-8320-B5D5FA11689F',
 'unduwasgei.png',
 'ecuxxlrpnr.png',
 '89F8D239-4785-4762-A107-632596D770E7',
 'zcfqxftzoe.png',
 'FCD2D489-A0EF-4B7F-B074-F219A0F1FFA9',
 'AD333BD3-A241-4CC0-A56E-EC7B6FCDC361',
 'tidwkakhzu.png',
 'B44F9156-9B1F-403F-B65D-A9650FD8A40A',
 '4907D4B5-F714-4A23-B281-5463FC8676C8',
 'vpqsnogllh.png',
 '22457F55-8FF9-4C20-BF21-087CFDC3E401',
 '5CD53835-74C4-4EB2-9A7C-3961CB6BD13D',
 'C63BDCCC-B545-4097-A63E-C5CFFC13065E',
 '076B81EC-1FCE-441B-A75C-F26CB687A00D',
 'nzewvnjvoq.png',
 'A54FB665-F604-4D27-9606-CCAEFE5AEB18',
 'A282F1A7-71FE-47A7-AF1E-89DF3888FD4B',
 '39ECBAB0-905B-4AE2-A672-6B27CB2C45E3',
 '51B43AF8-4AA3-4FB0-A591-0D18734A23D7',
 'C04167EA-5467-4697-8BA9-2DECD33A0FB1',
 '7DC52A31-C49E-43A7-B6B0-3D479ED9BC6C',
 'C0250FED-4862-40A7-8916-C6EF2FAA04D1',
 'eiukygozxk.png',
 'rsclclverq.png',
 'hedjmdctvo.png',
 'tzxoccihin.png',
 'F3197530-F011-4027-A9C6-50ED1F7B611C',
 'qpvrfragii.png',
 'zwztrygsmj.png',
 'dhiwtpwxqe.png',
 '94905220-CA72-49C7-9772-78BB8CD5C072',
 'lroilkmxvi.png',
 'tpbmdikvlf.png',
 '4647ABD6-2F6B-4C0F-9E37-21960F70C628',
 'D1B7F1E4-43E7-4716-BB9A-6392D2EF560E',
 '180C87E6-4E9A-4F87-91B7-77904F88A8C6',
 'mifxhafihb.png',
 'zranwzsecn.png',
 'E4254AA1-221E-4460-BB4C-EAF990B06CE8',
 'ydagysypsj.png',
 '710425D1-6893-467D-8981-BB89429B0B34',
 '1CCE1DB3-A0CC-468F-9416-D6A5942D524E',
 '8A22A2C6-934E-453B-A113-F35E6D8B27D6',
 'jczszeeeht.png',
 'frimvsoeju.png',
 'cmqnyfysde.png',
 '1903EF1A-B7C7-4155-8536-BEED80437D73',
 'yjssaqhzcg.png',
 '72D35578-98C0-4117-9AEE-EAF4A5828119',
 'D356BE71-953E-41A8-B7F1-5B9F8EFDBE17',
 '72F06506-2557-4A5A-8A54-B7C2ADE552AF',
 '64934F36-D999-464D-AF04-B6C9A854241C',
 '10B943C0-DFFA-4E03-9C22-1FE97672AD6F',
 'qwhvzwqpjk.png',
 'qsfcpqcisi.png',
 '1A4D42FA-E1E4-4D78-862D-28CA3D9E5021',
 '8F697DE3-0E11-4987-8A86-24248CA10B1A',
 '177E8FC3-E663-4D85-96AE-E065541AB27D',
 'jvmlapmtww.png',
 'cwtsrqlyni.png',
 'F629F5DA-69E7-4092-AC3E-11206FA9C600',
 'dvzwbalblz.png',
 '2C334238-CC39-4923-9929-86A5E711F35E',
 '720D7171-05B3-419D-9D80-86FD91FED6BB',
 'whvbnzpqwl.png',
 'vkcmhvvfxc.png',
 'ufshbsczwc.png',
 '1A415E3C-277C-4FF4-AAE6-A235402736A7',
 'rgashcxahi.png',
 'hjdxccqzul.png',
 'ewylhgqmbq.png',
 '37D528C5-3511-46B7-9744-167173004CF8',
 'nuvisqwexp.png',
 '7D90B2F1-C15C-4345-9F15-175396BC5620',
 'B944B6CF-7576-49F3-8B8F-99DCE8E35B48',
 '53FAD446-033F-49A2-95BF-7A3573248CFB',
 '4E7A47E5-8D65-46EA-B2C4-EBE929E29D1D',
 'pmcmimodwj.png',
 'qcuekwkkfd.png',
 'ywqvoyhrrn.png',
 'bkdhcoigdp.png',
 'ngewskktjp.png',
 '69DEB7E0-BF9C-45FD-8CCE-CD47D1E30BED',
 'htrzpjtmcw.png',
 '26C262F3-47B7-4750-953F-6F1F7880FE56',
 'bwnjfjuaqp.png',
 '049F6169-EA67-41D9-A3A0-292136EB21EC',
 'D0760D51-C66C-4A37-9EDE-B0F8CD49E40C',
 'dncpkyvstw.png',
 'pqcxxecmoz.png',
 '4DBBE294-C56C-4DD4-8FD1-46B522C37F2E',
 'jjjtmdtbjt.png',
 '71A5D50B-865C-40AB-9015-8AB4AB731577',
 '6CA7B4B1-B6ED-473A-A7DB-504787AF3A02',
 'BFD003F2-A835-4CF9-869A-93BCB12F14BB',
 'pvjshccmug.png',
 'B39F12CB-2143-429E-A7D0-5ED6C9B47D72',
 'ftumcujter.png',
 '747AA928-E4C9-4C97-8A3D-D1F7D613B79D',
 'awkofoahgr.png',
 'yvohwftwjd.png',
 '468107C0-752B-4782-B198-D481259FAC64',
 'D788E74C-AAC4-4029-B3C3-D89612AE5F3B',
 '6999AC4C-A97F-4DDE-8022-D51E8AC439B1',
 'gudhsavzxs.png',
 '1E416D0B-C8B5-4E51-8FF8-4F38EE804102',
 'lccjbyzaob.png',
 '70BEB859-1898-4DEE-8D3D-6D6F7C0C7996',
 '2C427A43-5893-4D5C-9817-C0940E105D3B',
 '4AC71F87-52AE-4960-9592-2C3BBB8D696C',
 'ahddbxwpsq.png',
 'B93DC62A-FF76-44EC-A48B-FCC73E7DF849',
 'gdfgxmmbzr.png',
 'rghpkccemu.png',
 'hpvjwqpjnu.png',
 'amgjlkqsxx.png',
 '2F61AFBD-D4C9-475B-B39C-B71E0957F86D',
 'ftrvpawymv.png',
 '34A0E724-9E7D-40C9-8E5B-5B6447068197',
 'vrqojnnkmt.png',
 '7EA5A1C3-4157-4491-8434-85E51969E5CF',
 'EDF0F072-DE63-4218-9699-EBC8F8AB2AF7',
 'urlpgwtrre.png',
 '3548494A-F88F-4286-9DF7-7539A413A995',
 'FFEE89A2-6C1D-40F4-83DA-BC5BDD878245',
 'pcsevsypkb.png',
 '9168E625-24B4-4672-8C17-0FC66A1A19A8',
 'bjybnteiwx.png',
 'hhvdpeidyk.png',
 'emucfgtibl.png',
 'pevbrhuwfp.png',
 'D6ECAC47-EBF8-46DC-ADA8-118C6F235E25',
 'C2B79F28-092A-482E-B5F0-3917069A33F5',
 '9586BFF9-D17E-4E1D-9F74-5A0397996340',
 'husmjwnizf.png',
 'C5AA3431-30D2-49FE-B341-FBB36A4D49D0',
 '0FA26183-4275-47D4-AD92-AB5289953182',
 'lkzapvpgri.png',
 'wzpxztylmn.png',
 'dbfojdmbrj.png',
 'trwdtkvfbg.png',
 'psbymuarju.png',
 'gvcaodmqjj.png',
 'AE2EAD75-0821-4624-8453-014E1E2D4194',
 '18EEA562-FD96-4183-B9CF-8E808C9DC640',
 '37B938A1-2BDC-446D-8291-494B20B9E8E3',
 'E793DD57-64DE-458F-8786-E926F1791ADD',
 'jyntkqlawd.png',
 'zrnacwjdvt.png',
 'AE5F9DFC-D05F-42FC-A533-AF907E204581',
 '4A1DADC2-31C1-4CDC-8082-0E9C84F1ED7F',
 'mjlqbdnmev.png',
 'cnlqsbwuuu.png',
 'yhescvtrxv.png',
 'crvzvpgnxf.png',
 '0BBDE5B0-8E97-4955-8A4F-8B3444AF95AF',
 '2F81DB13-86AF-47A5-A36C-16266E226693',
 'ksxuxnbjbg.png',
 'znjicbfxzs.png',
 'vogctqtniv.png',
 '2C668741-0436-40DE-AE5C-5E5928B18F53',
 'ushyenrthj.png',
 'uawafyrqgk.png',
 'bjsisjujfv.png',
 '45C0C0D7-0233-4D6B-95FA-A943004BE804',
 'wwpkdfkrbg.png',
 'bvkyrdwotu.png',
 'rmuuzfayqp.png',
 '74181897-A197-45D7-A248-2AB197CA2A41',
 'ndzaecyqus.png',
 'D32A0F35-1149-4DFA-97F6-EFC2D8026FD7',
 'qrvqwtlcai.png',
 '828DE493-3FE0-4CB6-BB1B-DD9C5BEEF4BA',
 'kvlfhoqinf.png',
 'feifkbvork.png',
 'wmvqwafahj.png',
 'aafkyorvfz.png',
 '3D4B7AAA-DB4E-4984-9228-67C35638F84C',
 'gscmdcjzsl.png',
 '568C6A13-C4C8-4376-B7A5-672FCF371145',
 'cjdsnzhrmk.png',
 'CE6F0D64-C261-41EE-9234-F2465A13A854',
 'rasletpoyh.png',
 'F6615496-1A61-4FBB-99BC-4E76484D6E97',
 'ijtrmuxkue.png',
 'gpkosgicqh.png',
 'qhfpviyida.png',
 'A10A3D3B-B522-4915-A62B-E0CBAB414A05',
 'lqdxyybsmf.png',
 'hqhrqlmzxx.png',
 '2933FE6C-9684-46C4-9CE5-83BBD7435D20',
 'nbrnrihrpx.png',
 'AC8E323E-B2FD-45D9-8F15-40974533C38E',
 'sctwwepboc.png',
 '373ABB9D-FF0E-4E3F-892F-C62F82AA1A07',
 'eacjdysvgn.png',
 'pajzsnlmka.png',
 '4D147905-33D4-4834-821D-575C35007EA1',
 '58F413BB-8C38-45BF-BA7B-D4ED195E3145',
 'ppseeggjvr.png',
 'vkpoouqxxb.png',
 'vewgabglyb.png',
 'uebxnnlrbe.png',
 'txauomknst.png',
 '379D0DAF-F996-47D9-8933-395405071828',
 '2D2B1322-E6F7-4DDE-8AF6-00E7F9428AAB',
 'yzaivefgpf.png',
 '1CA94BB2-8C13-4418-9F84-359B27907A98',
 'kxihzuxfrz.png',
 'haiakizfmd.png',
 '28E4D4C1-A99C-406B-B92E-756DC1151EF8',
 'DE9BCC38-7640-485B-BAC9-C645D3C563BD',
 'bboxjgrpip.png',
 '360736D6-82C2-4D38-A514-726EB171F66B',
 'mddahneyvf.png',
 'E8380C9C-F9BA-4F15-A317-69D63AAE1C19',
 'fpjidhpooc.png',
 '47EBADB8-875C-4EFD-8FCF-E817A5CC56E5',
 'C8AC473F-233C-464D-A9AD-0299272EDA1C',
 '0C5C5006-F692-4261-83D0-3A423E2F32DC',
 'zjyennekrm.png',
 'CE54D9E7-99E4-4A3E-8130-EA16F069DFE2',
 '7D574DA1-8BB6-4D1A-A552-F9E84314B17F',
 '3E85E9DD-3962-481B-8C08-80255BB8CC09',
 'zclwfglums.png',
 '87E7CC28-54EF-425E-977D-4823E9E819D4',
 'iesnvqrwvi.png',
 'ogjpbntqed.png',
 '5CF9C7A8-370F-46F8-9502-49D1D1CCD23E',
 '78339941-BE52-4D86-81C6-E9B331F03530',
 'iowmxwrelq.png',
 '88D83BBF-3624-432A-BA96-965309CF13D0',
 'zzkxzfbeqk.png',
 'lcnmraeaqn.png',
 'uouiabduwt.png',
 '00D03D64-E472-4BAD-9CB3-334652952A71',
 '54601578-D200-4A3F-9CE8-A0C01C886E98',
 'E666CC31-6297-4CFC-AA94-3444174C6258',
 'dbhopltwxs.png',
 '511802E2-9D3C-4E66-ACE4-27654DEB2BB9',
 'lblekeyrmk.png',
 'bsxuamqwdi.png',
 '7C0B0962-29F4-4204-B554-95E5605DDCCF',
 'EC48D1B2-D0D7-421B-9AF1-22FFA31D8B23',
 'AC51A09A-5ECC-4F74-A72D-55DA066D2D11',
 'B353CFCD-4914-446B-A3E8-437B0005BBDA',
 '43EF2152-2937-4B7D-817E-BF8456683AFC',
 'jcogwihcre.png',
 '052E450A-5360-4BB8-86C5-0C4E9BD68C8F',
 'radosscwud.png',
 'fukihqzmnc.png',
 '006667E4-BC1D-43DD-8C50-4552283D95CB',
 '0622E73F-3915-42C3-A51E-AF1841467BCA',
 '8DE1A824-881F-4FAA-B538-52F9F0E0C247',
 'nnhenuimaf.png',
 'popdbmzttc.png',
 '20B03C3F-487E-4DD7-8869-9507A7D45292',
 'D1489129-F35F-47E4-863E-C48AD09E8347',
 'svshwijmkn.png',
 'C6069573-317B-4BF5-A4D1-FB67B07922BA',
 '106B7E78-EEF0-44C1-926F-C38D9AFD2E18',
 'mhsqgvfwnb.png',
 'xnlaywlwex.png',
 '330BA318-3C5E-43BA-B0AC-F69F734236F9',
 'uoyvvcycyl.png',
 '81B04FF9-2545-4660-8362-2B28C3BE4586',
 '07765B94-70E3-48C8-929F-9C5CB5E5A41E',
 'EFB9AD8E-033C-4CEA-8937-32BE7D69A633',
 'B3B6243D-2CE0-49DF-B421-48B44FB360FD',
 'ivsppdchpr.png',
 '510099DB-9656-4845-A4A8-D3869D091841',
 'BAA18F94-BFEA-4FF6-BBBD-1339DB9A98A8',
 'eofduvllbt.png',
 'uzpffvywuc.png',
 'jnpevcuucb.png',
 '7FF6E227-6E61-40B6-838D-E8BFF30B001D',
 '7146D602-18BF-4D2E-A7ED-6BBB29D51BDD',
 'cmuzmwwguy.png',
 'A730EF4D-508E-4FAA-A948-304B7A08EC00',
 'zrnwcexgti.png',
 '9B0699F7-6BCE-4663-92C7-69EFF71BAE93',
 '014552C1-37BD-4F73-906B-BEC82C1BF814',
 '3923E54E-DDD6-4771-8D3D-9D362D93ECA3',
 'svabqmdgxc.png',
 'iislceupnk.png',
 '4024611E-A37E-4879-9EF2-5AF4294CAE33',
 '00500FD2-64C0-49A5-8AE5-04C9A2C9F013',
 'htyismsquv.png',
 'ztbdzqnlgr.png',
 'yorazcfgof.png',
 '89335604-D6F1-4A1C-91AB-9E178FEA2EB5',
 'pgcdjhnqsx.png',
 'odahmwyzxo.png',
 '7672493B-510E-42DD-9637-FFDDDA5B99A1',
 '4E532B76-D8BD-41F8-8CDE-87741869E14F',
 'E63696AB-DD1C-4434-89AD-4CFBE5B237EB',
 'B84059E9-58DD-49B7-AA22-F8CB48687ABA',
 '02321D21-9873-41EC-B4EB-81FA839F32BD',
 'FC7BC57D-C228-40CB-BB60-6FC092FE9C7D',
 '8B9DFE8D-AD36-4EDA-8105-91C3ED32DD3D',
 'qxlmrtdljh.png',
 'eofxuvmzip.png',
 '9AE36A03-7881-4539-9C0E-A3BBEC61516B',
 '2696B107-0478-4034-98D4-8A15A87268E7',
 'mkowumcgvf.png',
 '8D4ACFF7-BAAC-4AEB-8F9D-8736D928F303',
 'vijxvfcvyy.png',
 'C8589E03-11EF-472C-A18C-124EAE7B0EB5',
 'bodfbqvfci.png',
 'D2DE592A-E06B-4585-8530-DDDCD2C0A557',
 '127025F6-5107-46CB-9A1D-10DBE59E2340',
 '03103030-D166-4C8E-A6BB-AE1954248928',
 '42F2ECE7-CD53-406A-ACE1-418FCB0DAF6F',
 'wasevrosqr.png',
 'uafxszzkxr.png',
 'C2641242-277C-4F8A-B62E-9F76F0178D08',
 'E2AD1DA9-C7F4-40A4-A28A-801FD28FA51C',
 'mwshmcfkyy.png',
 '2064E87E-99B8-4DCC-A34C-5BBCB774EAEE',
 'EDE7BB1A-CBDB-43DD-AB19-E8C5CD35B469',
 'hawfrwbzpb.png',
 '155DD8FB-6A54-42A0-801D-764BD48BE94F',
 'ijgoufdxui.png',
 '6FF28F06-FEE6-4170-83AD-5C2F8E8A57A9',
 'kxiffplybc.png',
 'C7ADAD92-6AF9-4728-A64A-492AAAB377A0',
 '55585D0B-E535-4B0D-93FD-3097B8FBDAC2',
 'E6617697-7399-4788-B262-394CFD0A8089',
 'napvfcmivd.png',
 'bydnwfrbek.png',
 'yvbypmrcby.png',
 'A2A56590-1F9A-4543-B18E-5AF2C87836A2',
 '0688955D-B1E4-40A2-9B6B-30D94601EDFC',
 'emakpwcvch.png',
 '1B041171-149D-42FA-85C0-C3EB0CCE4AFB',
 'ezmaihgoza.png',
 'D5038F06-1306-4E93-AB42-D6AC6213FFD3',
 'idozuutcuy.png',
 'kcyvaskodv.png',
 'qzfzhotbjd.png',
 'hrrvkybcrl.png',
 '7BAE3A48-1F96-46F8-9652-D4AD60E59182',
 'D15DC0A3-005F-410F-9610-126CE2083931',
 '22EA2416-19F1-4A8E-BF4E-6094AA6A523A',
 'C13E1291-2DA4-4C0E-8730-983BF22A36A4',
 '7D3C0CD7-5B42-4882-B6BA-747DF671E4A4',
 'oeygikjaha.png',
 'B6D19E32-E3C6-4340-BB4A-108A4E4CD91E',
 'gljsefyfcm.png',
 'BF8B4282-E043-4D62-9DDA-67B189ADD5C7',
 'xlghecljhc.png',
 '56BCF415-53EF-4EAB-83D2-DFB5F9B8E11F',
 'E9055DF4-3F56-4F33-838E-F913BB8A85EF',
 '8B2EF7CC-BFB0-4D87-B920-1547B47ED5CB',
 'ilaqxtpmag.png',
 'C86C5F9F-3008-4944-BEEC-451F31DB58F4',
 '626F384E-AB58-4D72-AFE8-A4D4E38B2869',
 'gynjvshfdn.png',
 'zqxhqfifls.png',
 'zakthmjmvb.png',
 '35567349-8729-4358-92DA-F89534ED1EE9',
 'tvcgenlmwk.png',
 'budgrvucbr.png',
 '64000E98-E5B1-4279-BC4D-D17A968A57D6',
 'ED3D2426-17BE-4FC5-9340-0D24F18C5887',
 'A15CDE6C-0C9C-471E-9FB1-BD846391F0AC',
 'A19B6A68-AD56-4546-B042-02E7323D734A',
 '85D8A86D-6ED9-4EC0-A02B-CF234B7DFA48',
 'mvftsopwgi.png',
 'ijspnaaogf.png',
 'vikzupujds.png',
 '46A38CD8-727E-4D78-8A8F-07B3436B2128',
 '0E3E9323-6A05-4BD5-8C79-582054C01D4B',
 'nwcqumjjgr.png',
 'rycoslowli.png',
 'cxdzhhsyeo.png',
 'D23626C9-B0CF-4013-8697-F20B1B91942C',
 '41151F47-524F-4DE8-A7F0-E47BEE4FE2FF',
 'hpzcsrpypn.png',
 'ovzznjgdra.png',
 'ivfotwkndp.png',
 'xkmdlwasul.png',
 'ncbxwwrksj.png',
 'demwqqxjhd.png',
 'A35958BF-2F70-4470-8DAF-4E38174026A0',
 'AEB6C509-7642-4452-9EE6-D62F2FFAEFA2',
 'A8301B8B-4870-4FF9-9EA9-35D9431E4B88',
 'ddetrdtbpk.png',
 'FBD0F2A8-745D-43D2-8C94-AD8DCE6BA212',
 'kkjnzojntd.png',
 'hjwtniluxs.png',
 'pxcmkjspfi.png',
 '1CA8DF21-26DF-4EEE-AE65-B51E0101E14B',
 'sohmdmroug.png',
 '671FE3FA-E226-4165-B48A-187CC96600F2',
 '8B94CA5E-8C11-4A95-8D6A-7B29FB1B6071',
 'usmtygcuhj.png',
 'F620F5F9-E7F3-4A5C-9573-7597E3AE370D',
 'ydvpsftsga.png',
 'EE509D22-2199-4C6C-A09F-7EC98A29F868',
 '0863C09D-A457-4806-B096-AE3E7EC9B255',
 'laydvpjrmr.png',
 '3E051003-8CD0-475B-A03A-605607402082',
 'ivxutitfmf.png',
 'E3DE5552-00E3-47C4-A740-F2B1E016D83E',
 'apiyzqihkt.png',
 '651AA9FF-2D7F-4051-B170-891163142EB7',
 'B143FA33-D4AD-4CD4-ADF4-48EF88D67DCC',
 '30D19F98-9EAA-458D-9F77-162D1330E9A9',
 'xyqwewskoy.png',
 'dybcvwzbix.png',
 'tzpdkpkjeq.png',
 'DE16F2F3-1D8D-4175-AB75-427104D15DF7',
 '7C2D6F38-939F-4212-BC01-71365643F1DD',
 'egsglyjsby.png',
 '9507B390-6BDC-4DFE-9E41-75A34656FC2F',
 'gkfirpsjea.png',
 'FD7D4F8C-35D9-4386-AC49-7783819B39CE',
 'ursebopmxb.png',
 'C3BA0944-AE4F-489C-B8C2-B5C7733A75D4',
 'cszgpicnbe.png',
 'E42DBAF2-A8D5-4295-BD7B-B887F4F7EDE6',
 '5FC71269-3D3A-4A16-B212-AE1F19B2F216',
 '2A0F5C02-5968-42E7-B83E-0244EDF2C8B1',
 '8D8500C9-C7BC-4C90-8387-27901A175553',
 '858DF5C5-7D57-4499-B4FC-1B00D389D5B7',
 'D542E066-9C73-4D2C-AD78-7721245277E9',
 'F42A7C31-718C-4378-A656-8F2583C3DD30',
 '3CEAE024-E5E4-489D-805A-167EB18595C9',
 'EC5C4193-7E3E-477D-B6C3-F563133651BC',
 'xfeiaymopz.png',
 'ypadlulgod.png',
 'CED02948-8EE2-41C9-B967-D9F76BDA92A3',
 'olxpjtlspt.png',
 '181D8634-5A3A-47A3-9089-53821F14C6D6',
 'ADA459B6-1E0F-44F6-B8E1-5A6F0FF3E5C3',
 '9CDBEB4C-B306-48B9-B81C-606D0D288A81',
 'cjtkecdfhs.png',
 'cjhnttheks.png',
 '35F2DCB8-DC35-445E-A01E-5E4C12C8BF05',
 '77AF5DF4-6946-4931-908B-5B4052E2999B',
 '6C856217-DB53-499A-A966-2BBFA07D2BB1',
 'D0B09FE0-780D-4A37-B738-882C4E9F451F',
 'aycatjcrux.png',
 '9575F2E9-9121-4F84-9456-FAFF5FD06687',
 'qvswqzsscw.png',
 '0F99215F-1916-477B-B38D-001623EA38C9',
 'hfbcrpcyan.png',
 'dyhqmsrdaf.png',
 'rclewwrbop.png',
 'zhbqmyxaxe.png',
 '3AED5264-0D1B-4001-949C-0E7C826A580B',
 'ybqajjoivh.png',
 'AB17D43E-5578-4F1E-B775-D6FD3D07386B',
 'hwrwniyfhy.png',
 'D2F32BC8-3234-4D36-98C8-6A1E2C085762',
 'lbmisfyrdg.png',
 'E62C57DB-F4DB-4D05-AC76-9D801DD64AA6',
 '38337DA8-151B-4726-AA12-64CC4F61E6A1',
 '25A06F02-6F64-4009-9DCC-F09C6F3EC6DC',
 '714BF695-B4CD-4CC4-B58C-EF3D4C1ECA57',
 'upoubilosi.png',
 '83FDBAC3-9BBD-46D8-8238-3D8A9BE58459',
 'E456C968-5542-475E-837A-8A1255CFEBF4',
 '45786245-4E84-429F-9EDA-5C5A1E52BAFD',
 'aacmuljwkh.png',
 'iqogmoapfe.png',
 '3C000FE8-C037-4188-B431-4280B7B38063',
 '7AA30AD9-0487-4251-A5E0-9BFA5267F09A',
 'oxenlkqdxh.png',
 '96A2064E-97E0-496F-95CD-CB3B17977BDA',
 'mljrzwjwhi.png',
 'A05D99E2-1A29-4992-AF52-BC7751E89B52',
 'qgufmumpdf.png',
 'hidvnfmnqa.png',
 'B51B4D53-599A-4F2D-A561-9CCE74443E80',
 '21B9C05D-4DA4-47B3-8214-F875B68260A3',
 'tjpltzlaju.png',
 'nripqifads.png',
 'A5802F57-C564-4B1C-82EE-769ACB314793',
 'A09B7855-99A6-4CEF-9E58-EAE0C641E4F0',
 'C71068EE-2231-400A-B62B-3FBD197E31A9',
 'vcvivadmcl.png',
 'zzhmrzearx.png',
 'B03C58B4-B554-4A5F-90CE-FDF697D3B117',
 '52306437-BD4D-4E6D-B017-91D417F156C9',
 'B807A61A-02D6-4856-833D-4656149003EE',
 'touzgrxfjy.png',
 'F1F9BBFF-8DBD-42F6-8AC8-076C69B038D0',
 '15DEA863-1734-4F52-A1B8-E920F1200988',
 '1C57AF72-09C1-4E9C-AC48-FE38760ECF27',
 'kdzdtmnwut.png',
 'thfdifqrko.png',
 '59FE57BA-DEAC-4157-A7A7-111C731170AD',
 '4BD53027-6F93-43E3-80B5-4F1028EB888C',
 'mmxipjtncm.png',
 'F6B260E2-A43B-466E-893F-8CB2482CB9E8',
 'E7CB911C-3675-44C1-80C2-EF4A04402F37',
 'jkgaveyiij.png',
 'fwpupvargy.png',
 '3F8F16B4-B47F-484A-A10D-6EFA2E69E772',
 '349E152F-4AE4-4694-8C1B-63B5862E6BAF',
 'htcfauammh.png',
 '66C598EB-E5C1-482D-91A9-9C723B725ECF',
 '0F3F7B0B-1FBD-4FA3-946A-A32F0592621B',
 'xdywcklxyw.png',
 'C158B93C-824A-46F8-B0BD-608E8684A009',
 '1D88B2F1-129D-47B4-8A13-9C7F97404BAF',
 'zefegmqbiy.png',
 'E1E5F95B-0ABC-498F-BF47-29C72126F44D',
 'pvgeskfrff.png',
 'ydmmfhwnlu.png',
 'vhpxdnmwwr.png',
 '8D5EB9C4-CD76-41C1-8FAE-306A30E62387',
 'BBDFC16B-6ECD-48A4-89B0-C1ADCD9FD9CF',
 'E8E322BC-FB3B-4843-A5D1-940FB84219DD',
 'CF1BE147-E247-4382-AD71-C6E37AC2EBB3',
 'xnvdyxqtch.png',
 'jannicwojg.png',
 'myvdcwxjpy.png',
 'hyrynxpjzx.png',
 'E2647A2A-704F-4DAF-B22B-DBE3347F5A6F',
 'loeqxnhikn.png',
 'pxlqrubxpv.png',
 'yrpmpkbdhn.png',
 'A53D522C-17BF-400E-807E-B9C2DE556A37',
 'rsxcktqnww.png',
 'sjprssolfs.png',
 'D31BCB6F-2CF1-43C0-B00E-3987AAEC790D',
 '1F850041-6B96-4530-B133-172D657E9006',
 'DDCE406E-72C0-4128-9D7C-F832D13DFFEA',
 'B2B5855A-AEA7-43E3-B65D-83E25E75D2E9',

##### date เป็น YYYY-MM-DD

In [14]:
import datetime ## ทำการ import package datetime 
data_alldb_df = pd.DataFrame(data_alldb_df) 
data_alldb_df['date'] = pd.to_datetime(data_alldb_df['date'])    # format = "%d/%m/%Y" 
print(data_alldb_df.shape)
data_alldb_df

(38508, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaT,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [76]:
data_alldb_df['date'] = data_alldb_df[['date']].fillna(method="ffill")      # เติมค่าว่างของวันที่ด้วย ค่าก่อนหน้า หรือค่าข้างบน
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66

In [77]:
data_alldb_df.shape

(38382, 11)

In [79]:
set(data_alldb_df['date'])    # ดู set ข้อมูลของ date

{Timestamp('2022-02-15 00:00:00'),
 Timestamp('2022-02-17 00:00:00'),
 Timestamp('2022-02-18 00:00:00'),
 Timestamp('2022-02-19 00:00:00'),
 Timestamp('2022-02-21 00:00:00'),
 Timestamp('2022-02-22 00:00:00'),
 Timestamp('2022-02-23 00:00:00'),
 Timestamp('2022-02-24 00:00:00'),
 Timestamp('2022-02-25 00:00:00'),
 Timestamp('2022-02-26 00:00:00'),
 Timestamp('2022-02-27 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-01 00:00:00'),
 Timestamp('2022-03-02 00:00:00'),
 Timestamp('2022-03-03 00:00:00'),
 Timestamp('2022-03-04 00:00:00'),
 Timestamp('2022-03-05 00:00:00'),
 Timestamp('2022-03-06 00:00:00'),
 Timestamp('2022-03-07 00:00:00'),
 Timestamp('2022-03-08 00:00:00'),
 Timestamp('2022-03-09 00:00:00'),
 Timestamp('2022-03-10 00:00:00'),
 Timestamp('2022-03-11 00:00:00'),
 Timestamp('2022-03-12 00:00:00'),
 Timestamp('2022-03-13 00:00:00'),
 Timestamp('2022-03-14 00:00:00'),
 Timestamp('2022-03-15 00:00:00'),
 Timestamp('2022-03-16 00:00:00'),
 Timestamp('2022-03-17 00:00:00'),
 Timestamp('2022-03-18 00:00:00'),
 Timestamp('2022-03-19 00:00:00'),
 Timestamp('2022-03-20 00:00:00'),
 Timestamp('2022-03-21 00:00:00'),
 Timestamp('2022-03-22 00:00:00'),
 Timestamp('2022-03-23 00:00:00'),
 Timestamp('2022-03-24 00:00:00'),
 Timestamp('2022-03-25 00:00:00'),
 Timestamp('2022-03-26 00:00:00'),
 Timestamp('2022-03-27 00:00:00'),
 Timestamp('2022-03-28 00:00:00'),
 Timestamp('2022-03-29 00:00:00'),
 Timestamp('2022-03-30 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-04-01 00:00:00'),
 Timestamp('2022-04-02 00:00:00'),
 Timestamp('2022-04-03 00:00:00'),
 Timestamp('2022-04-04 00:00:00'),
 Timestamp('2022-04-05 00:00:00')}

##### phone เป็น String

In [17]:
data_alldb_df['phone'] = data_alldb_df['phone'].astype('str')
data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,2022-03-10,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [18]:
data_alldb_df.shape

(38508, 11)

In [72]:
set(data_alldb_df['phone'])    # ดู set ข้อมูลของ phone

{'HUAWEI CLT-L29',
 'HUAWEI ELE-L29',
 'HUAWEI FLA-LX2',
 'HUAWEI JAT-L29',
 'HUAWEI JKM-LX2',
 'HUAWEI LDN-LX2',
 'HUAWEI LYA-L29',
 'HUAWEI MAR-AL00',
 'HUAWEI MRD-LX1',
 'HUAWEI PPA-LX2',
 'HUAWEI SHT-AL09',
 'HUAWEI STK-L22',
 'HUAWEI VOG-L29',
 'HUAWEI YAL-L21',
 'INFINIX MOBILITY LIMITED Infinix X657B',
 'INFINIX MOBILITY LIMITED Infinix X657C',
 'INFINIX MOBILITY LIMITED Infinix X688C',
 'INFINIX MOBILITY LIMITED Infinix X698',
 'LAVA LH9930',
 'OPPO A1601',
 'OPPO A37f',
 'OPPO A37fw',
 'OPPO CPH1819',
 'OPPO CPH1821',
 'OPPO CPH1823',
 'OPPO CPH1907',
 'OPPO CPH1911',
 'OPPO CPH1931',
 'OPPO CPH1933',
 'OPPO CPH1937',
 'OPPO CPH1969',
 'OPPO CPH1989',
 'OPPO CPH2001',
 'OPPO CPH2015',
 'OPPO CPH2065',
 'OPPO CPH2083',
 'OPPO CPH2113',
 'OPPO CPH2121',
 'OPPO CPH2127',
 'OPPO CPH2145',
 'OPPO CPH2159',
 'OPPO CPH2185',
 'OPPO CPH2197',
 'OPPO CPH2203',
 'OPPO CPH2219',
 'OPPO CPH2237',
 'OPPO CPH2239',
 'OPPO CPH2269',
 'OPPO CPH2293',
 'OPPO CPH2343',
 'Realme RMX1851',
 'Realme RMX1911',
 'Realme RMX1941',
 'Realme RMX1971',
 'Realme RMX2001',
 'Realme RMX2030',
 'Realme RMX2040',
 'Realme RMX2061',
 'Realme RMX2111',
 'Realme RMX2170',
 'Realme RMX3085',
 'Realme RMX3191',
 'Realme RMX3231',
 'Realme RMX3241',
 'Samsung SM-A022F',
 'Samsung SM-A025F',
 'Samsung SM-A035F',
 'Samsung SM-A037F',
 'Samsung SM-A105G',
 'Samsung SM-A107F',
 'Samsung SM-A115F',
 'Samsung SM-A125F',
 'Samsung SM-A127F',
 'Samsung SM-A205F',
 'Samsung SM-A207F',
 'Samsung SM-A217F',
 'Samsung SM-A226B',
 'Samsung SM-A305F',
 'Samsung SM-A307GN',
 'Samsung SM-A315G',
 'Samsung SM-A326B',
 'Samsung SM-A426B',
 'Samsung SM-A505F',
 'Samsung SM-A507FN',
 'Samsung SM-A515F',
 'Samsung SM-A525F',
 'Samsung SM-A526B',
 'Samsung SM-A528B',
 'Samsung SM-A530F',
 'Samsung SM-A605G',
 'Samsung SM-A705F',
 'Samsung SM-A715F',
 'Samsung SM-A730F',
 'Samsung SM-A750GN',
 'Samsung SM-A805F',
 'Samsung SM-G780F',
 'Samsung SM-G781B',
 'Samsung SM-G955F',
 'Samsung SM-G965F',
 'Samsung SM-G965U',
 'Samsung SM-G973F',
 'Samsung SM-G985F',
 'Samsung SM-G991B',
 'Samsung SM-G998B',
 'Samsung SM-J400F',
 'Samsung SM-J415F',
 'Samsung SM-J610F',
 'Samsung SM-M022F',
 'Samsung SM-M315F',
 'Samsung SM-N770F',
 'Samsung SM-N950F',
 'Samsung SM-N960F',
 'Samsung SM-N970F',
 'Samsung SM-N975F',
 'Samsung SM-P610',
 'Samsung SM-S908E',
 'Samsung SM-T295',
 'Samsung SM-T500',
 'Vivo 1806',
 'Vivo 1818',
 'Vivo 1819',
 'Vivo 1820',
 'Vivo 1901',
 'Vivo 1902',
 'Vivo 1904',
 'Vivo 1906',
 'Vivo 1915',
 'Vivo 1920',
 'Vivo 1933',
 'Vivo 1935',
 'Vivo 1938',
 'Vivo 2006',
 'Vivo 2015',
 'Vivo 2018',
 'Vivo V2025',
 'Vivo V2026',
 'Vivo V2027',
 'Vivo V2036',
 'Vivo V2038',
 'Vivo V2041',
 'Vivo V2043',
 'Vivo V2050',
 'Vivo V2102',
 'Vivo V2109',
 'Vivo V2111',
 'Vivo V2124',
 'Vivo V2126',
 'Vivo V2130',
 'Vivo V2131',
 'WIKO W-K211-TH',
 'Xiaomi 21061110AG',
 'Xiaomi 21061119AG',
 'Xiaomi 2107113SG',
 'Xiaomi 21081111RG',
 'Xiaomi 2109119DG',
 'Xiaomi M2003J15SC',
 'Xiaomi M2004J19C',
 'Xiaomi M2006C3LG',
 'Xiaomi M2007J3SY',
 'Xiaomi M2010J19SG',
 'Xiaomi M2012K11AG',
 'Xiaomi M2101K9AG',
 'Xiaomi M2102J20SG',
 'Xiaomi MI 8',
 'Xiaomi Redmi 8A',
 'Xiaomi Redmi Note 9S',
 'iPad11,4',
 'iPad11,6',
 'iPad11,7',
 'iPad12,1',
 'iPad13,1',
 'iPad13,2',
 'iPad13,4',
 'iPad13,6',
 'iPad14,2',
 'iPad7,11',
 'iPad7,12',
 'iPad7,4',
 'iPad7,5',
 'iPhone10,2',
 'iPhone10,3',
 'iPhone10,4',
 'iPhone10,5',
 'iPhone10,6',
 'iPhone11,2',
 'iPhone11,6',
 'iPhone11,8',
 'iPhone12,1',
 'iPhone12,3',
 'iPhone12,5',
 'iPhone12,8',
 'iPhone13',
 'iPhone13,1',
 'iPhone13,2',
 'iPhone13,3',
 'iPhone13,4',
 'iPhone14,2',
 'iPhone14,3',
 'iPhone14,5',
 'iPhone8,1',
 'iPhone8,2',
 'iPhone9,1',
 'iPhone9,2',
 'iPhone9,3',
 'iPhone9,4'}

##### site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [19]:
data_alldb_df = data_alldb_df[(data_alldb_df['site'].astype(str).str.isdigit())]     #.str.isdigit ใช้เพื่อตรวจสอบว่าอักขระทั้งหมดเป็นตัวเลขหรือไม่  
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed

In [20]:
set(data_alldb_df['site'])    # ดู set ข้อมูลของ site

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05369',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05438',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13377',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

##### time เป็น hh-mm-ss

In [21]:
data_alldb_df['time'] = data_alldb_df['time'].replace(':','-',regex=True) # กำหนดรูปแบบของ time เป็น hh-mm-ss
data_alldb_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10-50-32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10-14-46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11-14-21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10-14-32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17-39-35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,NaN,NaN

In [73]:
set(data_alldb_df['time'])    # ดู set ข้อมูลของ time

{0,
 '11-51-38',
 '13-33-13',
 '08-35-29',
 '14-48-22',
 '16-27-33',
 '12-23-06',
 '17-38-53',
 '17-19-30',
 '10-35-46',
 '21-21-00',
 '14-51-26',
 '08-54-42',
 '09-31-54',
 '10-10-39',
 '12-08-57',
 '14-01-34',
 '16-09-59',
 '10-50-50',
 '15-32-54',
 '09-32-03',
 '10-35-04',
 '10-16-27',
 '17-04-17',
 '17-43-51',
 '10-03-40',
 '11-29-19',
 '10-02-38',
 '10-08-42',
 '11-28-32',
 '12-24-32',
 '08-34-38',
 '17-20-33',
 '10-56-07',
 '15-57-44',
 '09-23-05',
 '16-16-45',
 '15-35-23',
 '15-54-07',
 '09-15-28',
 '16-50-06',
 '11-01-48',
 '11-13-11',
 '12-45-14',
 '10-51-34',
 '12-20-14',
 '10-40-30',
 '11-32-12',
 '13-17-47',
 '11-14-00',
 '14-30-13',
 '12-31-42',
 '10-59-45',
 '10-05-12',
 '13-06-12',
 '10-42-37',
 '11-35-16',
 '10-48-07',
 '08-47-19',
 '10-07-16',
 '15-49-44',
 '14-51-54',
 '11-36-41',
 '13-55-42',
 '18-08-42',
 '10-19-26',
 '12-11-52',
 '12-49-40',
 '09-24-35',
 '20-40-06',
 '11-34-15',
 '14-30-37',
 '10-18-28',
 '14-07-36',
 '09-41-25',
 '14-29-54',
 '09-48-11',
 '09-35-06',
 '14-12-31',
 '17-27-14',
 '09-35-30',
 '13-24-45',
 '14-52-04',
 '10-37-25',
 '17-12-44',
 '15-32-34',
 '19-25-33',
 '13-09-33',
 '16-39-07',
 '16-21-04',
 '16-40-09',
 '09-26-16',
 '11-50-04',
 '09-01-15',
 '10-53-59',
 '09-35-19',
 '12-44-44',
 '15-14-13',
 '11-21-27',
 '15-55-43',
 '16-28-22',
 '11-46-55',
 '11-54-07',
 '21-07-06',
 '23-08-05',
 '14-52-33',
 '10-28-38',
 '09-50-42',
 '09-42-58',
 '14-30-57',
 '16-20-34',
 '14-06-46',
 '11-04-05',
 '12-09-41',
 '10-00-55',
 '15-23-55',
 '11-16-51',
 '11-13-59',
 '14-30-58',
 '14-50-44',
 '09-49-00',
 '13-29-01',
 '14-28-26',
 '11-52-43',
 '13-25-37',
 '11-07-20',
 '22-34-58',
 '13-00-51',
 '12-18-13',
 '15-59-54',
 '14-43-23',
 '16-49-17',
 '17-11-18',
 '18-37-15',
 '08-54-33',
 '13-10-12',
 '09-45-09',
 '14-51-04',
 '13-49-25',
 '16-39-24',
 '15-11-19',
 '10-50-14',
 '14-50-59',
 '15-22-05',
 '14-46-22',
 '09-45-30',
 '09-57-36',
 '17-03-00',
 '11-39-12',
 '12-26-27',
 '14-30-52',
 '17-29-55',
 '08-51-03',
 '11-57-53',
 '14-59-48',
 '12-51-38',
 '14-39-08',
 '12-46-15',
 '10-39-46',
 '09-17-55',
 '14-03-55',
 '12-04-07',
 '13-46-58',
 '14-29-43',
 '10-55-53',
 '11-00-10',
 '10-59-37',
 '18-32-15',
 '14-50-56',
 '08-21-43',
 '18-27-59',
 '15-44-53',
 '16-28-53',
 '17-25-44',
 '13-47-47',
 '13-48-50',
 '14-52-42',
 '11-34-04',
 '11-32-36',
 '12-20-51',
 '15-13-20',
 '10-48-04',
 '16-50-47',
 '14-28-23',
 '17-25-55',
 '11-22-27',
 '11-19-30',
 '13-50-49',
 '09-10-13',
 '10-40-20',
 '10-15-02',
 '12-00-01',
 '12-25-51',
 '13-08-50',
 '12-46-23',
 '13-03-11',
 '07-31-17',
 '15-47-21',
 '22-03-19',
 '16-33-04',
 '10-25-14',
 '15-56-11',
 '13-56-39',
 '10-28-49',
 '09-59-38',
 '10-39-59',
 '11-09-06',
 '14-07-53',
 '14-16-15',
 '07-53-50',
 '10-34-06',
 '15-26-25',
 '11-54-17',
 '10-03-15',
 '14-18-37',
 '10-33-24',
 '15-13-32',
 '09-12-56',
 '15-56-44',
 '14-52-57',
 '11-20-55',
 '12-13-04',
 '09-58-59',
 '16-02-32',
 '13-12-56',
 '15-11-06',
 '11-47-06',
 '11-45-19',
 '13-09-27',
 '11-24-27',
 '08-46-25',
 '12-11-15',
 '10-48-00',
 '21-39-21',
 '11-33-35',
 '09-24-58',
 '14-23-37',
 '14-29-15',
 '15-18-32',
 '10-04-38',
 '17-19-21',
 '14-27-07',
 '09-49-26',
 '17-09-33',
 '14-20-23',
 '18-38-40',
 '08-31-57',
 '16-25-36',
 '09-58-30',
 '12-21-18',
 '12-07-08',
 '09-42-13',
 '21-43-52',
 '09-14-03',
 '13-51-35',
 '12-11-25',
 '12-44-22',
 '17-10-35',
 '17-17-29',
 '12-27-55',
 '10-49-14',
 '14-09-32',
 '13-56-46',
 '16-01-01',
 '12-13-32',
 '13-26-49',
 '11-45-55',
 '10-21-39',
 '10-18-42',
 '11-48-52',
 '10-58-48',
 '12-54-36',
 '13-38-27',
 '17-35-05',
 '09-09-08',
 '14-32-16',
 '19-45-24',
 '15-37-56',
 '11-21-42',
 '10-47-48',
 '10-17-11',
 '12-00-38',
 '13-16-27',
 '17-20-58',
 '10-40-42',
 '19-32-30',
 '16-05-11',
 '12-26-38',
 '11-31-48',
 '10-28-52',
 '14-17-28',
 '15-06-11',
 '14-45-05',
 '14-47-41',
 '13-50-53',
 '15-25-50',
 '19-59-33',
 '16-21-51',
 '11-04-18',
 '12-43-55',
 '10-36-38',
 '14-38-24',
 '11-52-55',
 '11-00-22',
 '10-39-10',
 '10-43-13',
 '09-28-01',
 '17-49-41',
 '14-05-30',
 '18-50-02',
 '11-29-06',
 '14-56-48',
 '14-23-26',
 '11-47-46',
 '16-41-40',
 '10-56-33',
 '16-38-57',
 '13-50-01',
 '10-07-15',
 '14-35-20',
 '19-06-18',
 '12-49-10',
 '17-56-44',
 '14-04-35',
 '10-29-09',
 '11-37-46',
 '12-49-23',
 '18-55-18',
 '14-38-07',
 '13-33-41',
 '14-47-56',
 '15-21-00',
 '10-33-44',
 '00-01-26',
 '12-09-38',
 '12-50-23',
 '09-34-58',
 '12-59-22',
 '09-11-37',
 '12-56-57',
 '11-30-30',
 '13-12-21',
 '13-00-53',
 '12-28-47',
 '09-43-43',
 '22-41-16',
 '10-32-14',
 '13-57-44',
 '11-40-21',
 '14-40-32',
 '15-51-23',
 '19-16-08',
 '16-18-21',
 '12-50-11',
 '09-46-16',
 '11-15-41',
 '14-20-14',
 '14-33-59',
 '10-33-29',
 '10-53-44',
 '15-00-32',
 '22-44-04',
 '17-50-08',
 '12-30-14',
 '15-49-38',
 '11-46-49',
 '13-53-09',
 '09-55-50',
 '11-41-56',
 '09-50-41',
 '14-39-13',
 '15-03-57',
 '09-15-31',
 '10-48-47',
 '17-24-48',
 '16-13-43',
 '10-13-44',
 '12-00-40',
 '12-14-16',
 '12-25-15',
 '09-55-23',
 '11-21-45',
 '09-28-06',
 '11-54-51',
 '08-09-35',
 '14-24-18',
 '22-09-09',
 '18-15-50',
 '10-30-33',
 '11-21-14',
 '16-33-02',
 '14-55-47',
 '14-06-12',
 '13-46-30',
 '12-20-58',
 '10-05-41',
 '15-28-48',
 '10-40-49',
 '10-59-27',
 '09-55-14',
 '09-49-53',
 '14-37-48',
 '12-00-09',
 '13-26-19',
 '08-39-26',
 '13-42-36',
 '13-57-49',
 '12-51-30',
 '17-27-28',
 '19-50-13',
 '09-21-08',
 '10-16-39',
 '10-21-13',
 '11-44-06',
 '16-14-57',
 '14-28-48',
 '11-23-36',
 '15-58-20',
 '10-22-41',
 '11-39-03',
 '13-43-33',
 '12-09-59',
 '12-40-50',
 '12-30-40',
 '13-37-02',
 '09-27-19',
 '15-57-25',
 '10-45-50',
 '09-38-11',
 '14-11-06',
 '11-38-21',
 '22-04-16',
 '13-20-33',
 '11-41-48',
 '14-01-51',
 '13-22-58',
 '16-45-36',
 '08-46-58',
 '15-29-27',
 '08-25-50',
 '16-30-36',
 '20-25-23',
 '11-54-12',
 '14-33-23',
 '09-14-50',
 '15-17-14',
 '11-12-05',
 '13-48-33',
 '15-31-59',
 '14-51-13',
 '13-41-23',
 '10-45-36',
 '09-42-21',
 '16-46-24',
 '12-14-20',
 '12-52-02',
 '13-39-31',
 '09-24-30',
 '16-32-40',
 '11-46-19',
 '16-22-17',
 '14-57-51',
 '12-31-41',
 '16-55-05',
 '18-13-56',
 '14-49-05',
 '16-14-47',
 '11-31-36',
 '09-48-37',
 '14-53-49',
 '22-47-19',
 '11-45-57',
 '13-08-47',
 '14-20-19',
 '17-15-28',
 '10-36-53',
 '12-36-46',
 '16-26-24',
 '14-42-54',
 '11-07-03',
 '16-01-17',
 '12-03-37',
 '17-57-45',
 '11-54-04',
 '12-06-32',
 '15-35-03',
 '15-48-28',
 '14-15-59',
 '11-45-23',
 '10-38-31',
 '15-47-00',
 '15-39-54',
 '15-14-02',
 '14-32-58',
 '13-11-01',
 '14-41-24',
 '15-08-26',
 '10-04-00',
 '15-08-27',
 '10-35-12',
 '10-15-26',
 '11-32-54',
 '12-38-35',
 '09-04-23',
 '12-06-03',
 '10-03-20',
 '12-31-07',
 '21-06-37',
 '16-07-47',
 '11-26-50',
 '11-50-35',
 '16-25-42',
 '10-46-31',
 '18-18-59',
 '09-51-21',
 '16-32-44',
 '15-55-16',
 '10-57-02',
 '11-52-29',
 '14-51-18',
 '10-27-09',
 '15-02-56',
 '08-32-44',
 '11-03-39',
 '17-11-07',
 '09-17-35',
 '11-27-39',
 '12-17-32',
 '15-33-31',
 '11-51-22',
 '11-28-14',
 '14-44-57',
 '11-28-54',
 '11-15-35',
 '17-10-57',
 '10-08-55',
 '15-59-51',
 '16-25-27',
 '14-50-00',
 '14-47-16',
 '10-50-48',
 '09-55-21',
 '09-44-52',
 '10-00-47',
 '09-11-58',
 '10-18-44',
 '13-34-19',
 '15-21-11',
 '09-58-39',
 '12-09-11',
 '13-12-48',
 '11-34-27',
 '09-29-17',
 '16-26-31',
 '16-33-28',
 '11-34-45',
 '11-47-44',
 '09-51-39',
 '14-35-39',
 '17-19-10',
 '11-40-25',
 '10-01-24',
 '14-29-14',
 '12-15-28',
 '09-51-17',
 '11-28-53',
 '09-37-16',
 '22-20-30',
 '15-54-22',
 '16-30-02',
 '19-25-35',
 '15-48-57',
 '11-27-03',
 '11-09-27',
 '10-13-12',
 '17-03-39',
 '17-47-38',
 '23-17-47',
 '14-38-21',
 '14-53-05',
 '12-13-14',
 '10-18-22',
 '15-16-14',
 '13-38-55',
 '10-06-48',
 '15-14-32',
 '12-18-08',
 '12-55-10',
 '16-01-55',
 '12-08-06',
 '14-04-22',
 '10-08-15',
 '16-12-05',
 '16-52-12',
 '09-39-21',
 '10-47-10',
 '11-52-14',
 '09-54-01',
 '12-13-18',
 '10-15-15',
 '09-12-00',
 '13-01-59',
 '14-44-48',
 '10-42-19',
 '09-10-43',
 '17-22-13',
 '11-05-16',
 '17-50-20',
 '11-57-58',
 '16-01-21',
 '12-25-26',
 '13-57-08',
 '15-35-36',
 '15-59-58',
 '15-49-27',
 '10-00-36',
 '12-25-31',
 '14-05-55',
 '09-59-54',
 '10-02-04',
 '16-51-34',
 '09-10-18',
 '09-49-23',
 '11-40-48',
 '09-39-16',
 '12-49-36',
 '13-47-50',
 '09-42-30',
 '12-57-47',
 '16-20-00',
 '10-57-22',
 '09-14-11',
 '16-49-29',
 '13-39-53',
 '10-02-59',
 '10-32-33',
 '15-48-50',
 '12-28-45',
 '09-08-06',
 '09-43-49',
 '10-28-34',
 '10-35-38',
 '11-30-43',
 '09-33-49',
 '10-30-31',
 '13-24-10',
 '11-53-56',
 '12-12-54',
 '09-43-39',
 '10-18-55',
 '10-37-50',
 '10-18-31',
 '11-24-00',
 '18-08-56',
 '11-24-18',
 '14-56-34',
 '14-09-57',
 '14-44-10',
 '15-09-13',
 '14-45-38',
 '11-34-36',
 '12-35-28',
 '13-20-55',
 '09-02-45',
 '11-02-36',
 '13-50-40',
 '18-04-50',
 '11-29-01',
 '16-39-22',
 '13-34-16',
 '13-36-32',
 '12-59-01',
 '13-29-42',
 '09-49-15',
 '10-31-48',
 '16-15-33',
 '08-47-49',
 '14-52-05',
 '16-02-43',
 '08-36-35',
 '11-21-44',
 '15-55-01',
 '10-51-22',
 '15-59-17',
 '15-47-35',
 '12-08-38',
 '16-15-30',
 '18-40-33',
 '12-06-09',
 '17-04-00',
 '11-17-18',
 '10-23-15',
 '10-20-20',
 '16-04-49',
 '09-05-57',
 '10-18-52',
 '11-22-23',
 '16-00-44',
 '15-26-01',
 '13-58-57',
 '10-59-41',
 '16-13-05',
 '10-53-05',
 '11-46-50',
 '12-22-49',
 '14-27-22',
 '13-58-29',
 '14-27-02',
 '10-06-13',
 '10-02-43',
 '10-24-55',
 '10-18-56',
 '11-39-18',
 '17-08-13',
 '14-03-19',
 '16-16-51',
 '16-01-43',
 '16-03-18',
 '17-19-33',
 '09-27-24',
 '12-11-11',
 '12-26-37',
 '15-28-06',
 '09-49-58',
 '14-21-45',
 '18-12-46',
 '14-24-55',
 '15-18-53',
 '12-05-30',
 '16-43-24',
 '10-33-17',
 '21-58-41',
 '12-38-50',
 '14-47-33',
 '13-41-05',
 '14-19-06',
 '14-39-42',
 '13-40-47',
 '15-17-24',
 '13-27-47',
 '15-56-12',
 '09-37-46',
 '15-34-54',
 '10-28-17',
 '10-14-56',
 '15-01-00',
 '22-54-08',
 '15-23-47',
 '17-56-01',
 '10-10-53',
 '09-39-44',
 '15-44-54',
 '16-39-35',
 '10-06-32',
 '13-24-05',
 '13-37-09',
 '17-04-21',
 '10-00-00',
 '18-40-24',
 '10-04-49',
 '10-28-58',
 '17-04-31',
 '14-36-25',
 '10-06-57',
 '14-55-00',
 '11-51-06',
 '16-45-30',
 '09-25-23',
 '09-16-18',
 '12-44-57',
 '14-23-59',
 '13-49-20',
 '15-51-40',
 '14-28-13',
 '13-31-06',
 '10-59-29',
 '09-14-02',
 '14-23-19',
 '10-47-07',
 '10-12-00',
 '10-23-38',
 '09-22-57',
 '14-26-59',
 '10-30-48',
 '18-28-55',
 '17-28-59',
 '12-57-15',
 '11-45-28',
 '10-44-29',
 '12-55-15',
 '07-15-45',
 '10-18-32',
 '08-27-50',
 '11-22-15',
 '10-32-26',
 '16-55-07',
 '13-25-55',
 '10-42-27',
 '10-52-37',
 '10-34-13',
 '14-15-39',
 '17-52-54',
 '09-51-56',
 '10-34-50',
 '15-02-34',
 '14-00-15',
 '16-02-40',
 '15-44-04',
 '15-00-37',
 '12-19-15',
 '10-25-31',
 '12-23-52',
 '09-12-21',
 '12-29-43',
 '12-14-24',
 '17-07-25',
 '09-44-00',
 '10-23-17',
 '19-48-04',
 '10-02-02',
 '16-30-13',
 '11-51-19',
 '14-59-59',
 '15-13-47',
 '17-06-13',
 '10-50-27',
 '10-58-41',
 '10-13-42',
 '12-00-31',
 '12-34-19',
 '11-31-09',
 '13-24-11',
 '09-54-46',
 '09-42-07',
 '10-28-15',
 '12-18-43',
 '20-29-16',
 '09-27-20',
 '17-18-07',
 '10-32-39',
 '09-54-14',
 '10-50-30',
 '10-49-05',
 '12-48-07',
 '15-41-17',
 '09-48-21',
 '11-12-01',
 '14-14-13',
 '09-32-14',
 '09-55-18',
 '14-57-00',
 '11-09-28',
 '16-16-53',
 '12-11-58',
 '14-52-03',
 '15-04-47',
 '13-59-20',
 '10-49-18',
 '14-51-07',
 '11-37-35',
 '15-03-13',
 '11-17-35',
 '13-30-07',
 '17-45-37',
 '15-59-24',
 '09-50-22',
 '10-37-24',
 '10-31-53',
 '11-10-27',
 '13-59-21',
 '14-34-19',
 '09-18-12',
 '14-19-24',
 '12-43-30',
 '16-28-48',
 '14-47-02',
 '13-37-04',
 '14-26-57',
 '12-59-08',
 '08-55-21',
 '08-43-15',
 '17-03-05',
 '14-15-17',
 '13-22-50',
 '17-51-38',
 '12-38-24',
 '09-42-56',
 '13-17-10',
 '09-24-31',
 '08-48-43',
 '10-05-14',
 '09-46-10',
 '13-50-42',
 '09-12-57',
 '14-14-58',
 '10-57-50',
 '14-28-28',
 '10-53-35',
 '12-15-29',
 '09-35-18',
 '15-53-50',
 '13-22-33',
 '12-16-33',
 '11-29-37',
 '09-20-22',
 '11-01-47',
 '12-27-10',
 '11-33-01',
 '16-35-58',
 '14-45-43',
 '15-47-14',
 '18-15-37',
 '10-08-32',
 '15-50-15',
 '12-04-51',
 '10-06-01',
 '11-00-26',
 '17-53-57',
 '15-10-02',
 '10-23-55',
 '11-12-42',
 '15-17-28',
 '11-27-10',
 '10-36-37',
 '11-31-41',
 '13-05-10',
 '14-08-20',
 '11-33-11',
 '10-28-33',
 '11-16-52',
 '12-09-06',
 '15-38-54',
 '12-27-53',
 '14-18-01',
 '10-43-57',
 '13-48-49',
 '15-22-30',
 '16-53-28',
 '15-43-17',
 '11-59-14',
 '12-14-14',
 '11-06-09',
 '13-39-59',
 '11-00-54',
 '10-10-49',
 '11-08-35',
 '13-46-32',
 '12-36-29',
 '10-31-38',
 '15-19-01',
 '11-17-45',
 '11-22-01',
 '14-19-07',
 '10-41-46',
 '16-38-39',
 '13-40-24',
 '14-32-11',
 '18-23-24',
 '11-17-28',
 '12-32-56',
 '15-16-02',
 '14-18-26',
 '14-13-54',
 '09-38-49',
 '15-14-24',
 '12-32-41',
 '15-27-02',
 '12-13-41',
 '17-57-27',
 '22-38-13',
 '13-08-29',
 '15-29-33',
 '15-56-40',
 '11-19-49',
 '14-20-28',
 '11-17-23',
 '11-46-14',
 '12-14-32',
 '14-40-17',
 '17-25-33',
 '12-07-10',
 '17-13-01',
 '09-11-01',
 '18-06-14',
 '10-34-27',
 '11-32-41',
 '17-23-19',
 '09-42-15',
 '22-25-03',
 '17-54-40',
 '16-13-34',
 '11-39-16',
 '17-19-05',
 '14-20-32',
 '12-03-03',
 '10-45-09',
 '10-26-57',
 '11-15-13',
 '10-58-53',
 '08-54-34',
 ...}

##### urine มีค่า String

In [22]:
data_alldb_df['urine'] = data_alldb_df['urine'].astype('str')
data_alldb_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10-50-32,nan,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10-14-46,nan,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11-14-21,nan,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10-14-32,nan,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17-39-35,nan,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,NaN,NaN

In [23]:
set(data_alldb_df['urine'])

{'nan',
 'ขุ่น',
 'ขุ่น, มีตะกอน',
 'ขุ่น, มีตะกอน, มีเม็ดเลือดแดง',
 'ขุ่น, มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, มีเม็ดเลือดแดง',
 'ขุ่น, สีน้ำนม',
 'ขุ่น, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส)',
 'ปกติ (เหลืองใส), ขุ่น',
 'ปกติ (เหลืองใส), ขุ่น, มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), มีเม็ดเลือดแดง',
 'ปกติ (เหลืองใส), สีน้ำนม',
 'ปกติ (เหลืองใส), สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า, สีน้ำนม',
 'มีตะกอน',
 'มีตะกอน, มีเม็ดเลือดแดง',
 'มีตะกอน, มีเม็ดเลือดแดง, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, มีเลือดปน',
 'มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, ใส่เป็นน้ำเปล่า',
 'มีเม็ดเลือดแดง',
 'มีเลือดปน',
 'มีเลือดปน, สีเหลืองส้ม (ผิดปกติ)',
 'สีน้ำนม',
 'สีฟ้า หรือน้ำเงิน',
 'สีเหลืองส้ม (ผิดปกติ)',
 'ใสเป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า, สีฟ้า หรือน้ำเงิน'}

##### ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [24]:
set(data_alldb_df['ov'])

{'0', '1', '2', '3', '4', nan, 'ติดเชื้อ +2 '}

In [25]:
data_alldb_df['ov'] = pd.to_numeric(data_alldb_df['ov'], errors='coerce') # เปลี่ยนให้เป็นตัวเลขเท่านั้น
data_alldb_df = data_alldb_df.replace(np.nan, 0, regex=True) 
data_alldb_df['ov'] = data_alldb_df['ov'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
set(data_alldb_df['ov'])

{0, 1, 2, 3, 4}

##### PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

In [27]:
data_alldb_df = data_alldb_df[(data_alldb_df['PartitionKey'].astype(str).str.isdigit())& (data_alldb_df['PartitionKey'].str.len() == 5)]     #.str.isdigit ใช้เพื่อตรวจสอบว่าอักขระทั้งหมดเป็นตัวเลขหรือไม่ # เปลี่ยนคอลัมน์ user ให้มีตัวเลข 5 ตัว 
data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,0,0

In [80]:
set(data_alldb_df['PartitionKey'])    # ดู set ข้อมูลของ PartitionKey

{'01644',
 '02269',
 '08909',
 '01112',
 '02180',
 '08920',
 '01569',
 '00640',
 '00901',
 '00327',
 '00366',
 '03565',
 '00467',
 '02166',
 '02674',
 '03312',
 '02365',
 '08973',
 '08383',
 '05997',
 '01284',
 '00819',
 '05262',
 '00605',
 '05973',
 '01825',
 '01231',
 '01350',
 '01022',
 '03132',
 '01781',
 '05108',
 '01746',
 '01510',
 '00126',
 '04785',
 '00008',
 '02301',
 '04736',
 '02673',
 '00308',
 '00686',
 '00943',
 '02327',
 '01318',
 '01873',
 '03550',
 '00070',
 '02986',
 '03035',
 '02482',
 '02132',
 '00591',
 '09015',
 '01498',
 '02900',
 '00151',
 '02821',
 '03995',
 '02147',
 '01632',
 '03034',
 '00552',
 '04639',
 '02476',
 '10506',
 '02438',
 '01118',
 '01547',
 '03094',
 '05263',
 '08904',
 '01073',
 '01853',
 '01137',
 '01594',
 '01945',
 '00710',
 '01616',
 '03433',
 '01541',
 '01994',
 '02335',
 '00715',
 '10988',
 '00653',
 '02910',
 '00600',
 '05207',
 '00690',
 '01399',
 '01983',
 '02338',
 '05281',
 '02211',
 '00688',
 '00988',
 '01623',
 '04650',
 '02972',
 '03317',
 '09024',
 '01976',
 '00741',
 '01355',
 '02739',
 '00362',
 '00038',
 '00922',
 '02224',
 '01561',
 '01195',
 '01562',
 '02918',
 '01189',
 '02701',
 '10985',
 '01738',
 '01741',
 '02662',
 '01331',
 '00529',
 '01432',
 '00626',
 '00233',
 '01243',
 '03804',
 '00409',
 '00033',
 '00169',
 '00533',
 '00595',
 '02841',
 '00905',
 '00064',
 '02025',
 '09009',
 '03217',
 '02403',
 '08937',
 '02002',
 '00301',
 '08976',
 '02843',
 '00788',
 '06015',
 '01879',
 '01372',
 '00727',
 '01946',
 '02247',
 '02504',
 '00389',
 '06725',
 '02769',
 '02517',
 '00738',
 '01852',
 '02080',
 '01315',
 '03711',
 '04690',
 '05114',
 '00093',
 '01864',
 '00122',
 '02754',
 '01579',
 '01460',
 '01630',
 '00707',
 '02074',
 '03934',
 '01624',
 '00519',
 '00894',
 '00271',
 '01845',
 '02579',
 '02782',
 '02594',
 '01040',
 '00487',
 '00772',
 '01023',
 '01201',
 '02541',
 '01651',
 '00650',
 '00024',
 '00571',
 '00854',
 '01755',
 '01816',
 '03069',
 '03244',
 '05998',
 '03381',
 '00049',
 '01452',
 '08966',
 '00298',
 '01926',
 '02668',
 '02672',
 '02627',
 '03512',
 '05100',
 '01285',
 '01995',
 '00058',
 '02305',
 '01837',
 '02332',
 '00117',
 '04686',
 '00919',
 '04626',
 '03207',
 '02313',
 '01466',
 '04684',
 '01206',
 '00797',
 '00433',
 '01537',
 '00760',
 '00288',
 '06262',
 '00111',
 '01279',
 '01756',
 '00520',
 '01575',
 '08981',
 '01241',
 '01239',
 '00559',
 '01984',
 '06723',
 '05244',
 '02029',
 '02282',
 '00784',
 '01362',
 '01769',
 '00989',
 '01563',
 '00228',
 '01742',
 '03361',
 '00463',
 '05153',
 '04054',
 '00149',
 '01136',
 '03182',
 '05716',
 '00767',
 '00098',
 '02063',
 '00235',
 '01173',
 '01647',
 '00103',
 '02534',
 '00583',
 '02461',
 '02756',
 '01468',
 '01821',
 '05976',
 '01871',
 '02737',
 '00134',
 '00283',
 '02027',
 '00054',
 '01615',
 '02467',
 '08254',
 '01197',
 '01530',
 '01492',
 '00827',
 '04101',
 '04649',
 '02077',
 '02833',
 '01099',
 '08596',
 '03324',
 '00285',
 '01207',
 '00906',
 '01009',
 '00020',
 '00704',
 '00172',
 '01665',
 '01774',
 '01303',
 '01803',
 '01451',
 '00940',
 '01412',
 '02173',
 '03224',
 '01168',
 '02021',
 '00917',
 '00693',
 '01538',
 '01045',
 '01681',
 '09008',
 '00099',
 '01096',
 '00981',
 '00740',
 '01606',
 '06022',
 '00765',
 '00404',
 '20044',
 '05111',
 '01144',
 '01485',
 '02155',
 '01376',
 '00293',
 '00478',
 '02119',
 '06000',
 '04628',
 '03109',
 '03359',
 '03462',
 '04183',
 '10986',
 '08986',
 '00732',
 '01292',
 '01831',
 '00062',
 '01334',
 '00242',
 '04163',
 '00286',
 '01375',
 '00930',
 '01028',
 '01215',
 '01474',
 '02214',
 '05992',
 '00947',
 '02160',
 '02267',
 '04638',
 '00581',
 '00291',
 '01179',
 '05227',
 '02621',
 '00875',
 '03981',
 '02066',
 '01425',
 '02915',
 '04800',
 '00692',
 '00575',
 '00501',
 '00564',
 '02839',
 '02960',
 '00497',
 '00339',
 '01002',
 '01999',
 '01351',
 '00392',
 '02930',
 '02156',
 '02677',
 '04008',
 '04730',
 '01581',
 '09034',
 '01902',
 '00132',
 '00373',
 '00822',
 '00250',
 '01413',
 '03334',
 '08927',
 '10983',
 '10997',
 '02746',
 '00329',
 '00160',
 '00182',
 '03509',
 '04789',
 '10995',
 '04974',
 '02064',
 '00524',
 '01918',
 '00944',
 '08960',
 '00892',
 '02851',
 '00689',
 '01384',
 '01386',
 '01441',
 '00056',
 '00469',
 '10408',
 '01401',
 '02005',
 '03339',
 '00036',
 '01663',
 '01857',
 '00443',
 '01255',
 '01989',
 '08955',
 '03211',
 '02544',
 '01395',
 '00661',
 '00017',
 '04657',
 '02987',
 '90470',
 '04692',
 '00212',
 '01715',
 '00623',
 '00805',
 '00534',
 '01235',
 '01347',
 '08921',
 '00022',
 '00639',
 '00590',
 '01072',
 '08925',
 '01744',
 '00091',
 '00321',
 '01483',
 '00831',
 '03997',
 '00307',
 '06058',
 '01153',
 '11006',
 '09036',
 '01503',
 '02043',
 '02223',
 '01025',
 '02742',
 '03553',
 '02623',
 '08977',
 '05350',
 '00369',
 '00258',
 '04087',
 '01804',
 '00302',
 '01557',
 '01093',
 '04695',
 '10977',
 '01592',
 '02417',
 '01010',
 '02352',
 '01877',
 '06043',
 '01865',
 '08284',
 '00515',
 '01660',
 '03266',
 '01843',
 '01595',
 '00155',
 '00509',
 '00380',
 '00464',
 '01192',
 '02949',
 '03406',
 '05830',
 '03950',
 '00974',
 '01476',
 '02135',
 '80464',
 '03200',
 '03063',
 '01132',
 '00131',
 '09027',
 '01221',
 '00387',
 '00000',
 '00780',
 '99444',
 '00578',
 '00316',
 '00795',
 '00101',
 '01936',
 '01404',
 '04191',
 '01047',
 '01675',
 '02928',
 '01589',
 '02041',
 '00790',
 '01262',
 '01445',
 '04781',
 '01736',
 '08245',
 '04670',
 '08903',
 '01370',
 '01638',
 '04687',
 '01609',
 '02199',
 '00073',
 '01785',
 '05396',
 '03290',
 '01903',
 '00185',
 '01465',
 '01521',
 '01986',
 '00667',
 '01570',
 '00343',
 '02877',
 '00445',
 '01289',
 '01374',
 '03420',
 '00435',
 '03547',
 '00880',
 '03877',
 '03136',
 '05247',
 '01058',
 '00364',
 '08935',
 '03415',
 '01490',
 '00314',
 '00232',
 '02220',
 '00334',
 '02592',
 '02588',
 '03299',
 '01200',
 '01367',
 '02161',
 '00999',
 '03410',
 '09023',
 '05117',
 '00550',
 '06025',
 '00043',
 '01752',
 '00455',
 '01157',
 '05096',
 '03948',
 '00531',
 '08990',
 '00187',
 '01788',
 '01952',
 '01230',
 '06029',
 '02466',
 '72093',
 '03072',
 '02555',
 '03124',
 '00628',
 '03176',
 '00750',
 '01044',
 '08938',
 '02321',
 '02405',
 '04782',
 '00806',
 '03130',
 '00877',
 '02813',
 '01571',
 '45972',
 '00170',
 '03142',
 '01307',
 '06726',
 '02262',
 '00371',
 '00713',
 '00146',
 '05806',
 '00860',
 '01268',
 '01640',
 '01901',
 '00847',
 '02598',
 '10967',
 '00031',
 '00574',
 '05290',
 '01360',
 '01920',
 '02500',
 '02487',
 '01822',
 '03416',
 '09006',
 '00084',
 '01123',
 '00360',
 '00717',
 '01484',
 '01809',
 '03376',
 '00055',
 '01185',
 '03508',
 '01722',
 '03015',
 '06061',
 '05132',
 '03826',
 '04688',
 '04619',
 '08912',
 '02735',
 '01029',
 '01546',
 '01324',
 '02061',
 '00287',
 '03373',
 '02669',
 '01763',
 '08351',
 '02973',
 '02532',
 '02731',
 '01203',
 '01791',
 '00124',
 '04011',
 '00662',
 '05289',
 '02319',
 '01531',
 '01407',
 '00948',
 '11000',
 '01364',
 '01429',
 '01035',
 '00828',
 '00960',
 '01081',
 '01458',
 '01743',
 '01758',
 '01800',
 '00370',
 '01731',
 '01322',
 '00401',
 '01957',
 '01036',
 '00078',
 '00297',
 '02048',
 '01486',
 '02485',
 '02989',
 '03062',
 '08069',
 '00669',
 '05112',
 '00813',
 '00104',
 '04664',
 '00576',
 '00221',
 '02492',
 '02845',
 '01111',
 '01842',
 '00660',
 '00570',
 '03363',
 '04070',
 '10996',
 '00273',
 '04090',
 '01229',
 '01245',
 '01704',
 '00450',
 '01151',
 '02170',
 '01856',
 '02992',
 '01668',
 '00367',
 '03298',
 '02010',
 '06007',
 '01043',
 '02741',
 '03392',
 '05124',
 '00002',
 '02825',
 '01042',
 '02337',
 '03316',
 '03188',
 '00336',
 '00597',
 '02958',
 '02610',
 '00513',
 '08971',
 '04174',
 '02991',
 '02452',
 '00949',
 '00676',
 '00726',
 '01720',
 '01146',
 '04168',
 '00069',
 '01125',
 '00924',
 '02054',
 '02599',
 '04812',
 '02014',
 '01063',
 '01220',
 '01723',
 '01032',
 '00814',
 '01686',
 '01726',
 '03215',
 '01258',
 '00687',
 '01761',
 '02830',
 '00645',
 '05327',
 '00723',
 '03150',
 '03378',
 '00926',
 '02420',
 '02505',
 '02172',
 '03422',
 '08943',
 '01004',
 '02034',
 '03044',
 '02791',
 '01997',
 '02026',
 '00264',
 '00841',
 '01955',
 '01839',
 '05115',
 '02914',
 '00851',
 '01379',
 '02312',
 '03319',
 '00393',
 '06185',
 '01447',
 '01539',
 '01079',
 '01685',
 '02671',
 '05957',
 '01139',
 '03065',
 '01242',
 '00768',
 '08115',
 '02298',
 '02880',
 '01193',
 '01677',
 '01129',
 '00747',
 '01461',
 '05120',
 '09026',
 '01252',
 '02001',
 '00153',
 '00378',
 '01325',
 '00923',
 '00977',
 '02228',
 '02510',
 '01119',
 '01104',
 '00001',
 '06026',
 '03552',
 '05259',
 '00882',
 '01084',
 '10972',
 '88432',
 '03494',
 '01077',
 '00935',
 '03126',
 '05989',
 '01411',
 '00041',
 '00328',
 '02455',
 '00203',
 '01795',
 '02378',
 '00782',
 '02399',
 '02686',
 '00074',
 '01564',
 '03194',
 '03137',
 '08931',
 '00418',
 '02440',
 '01876',
 '01491',
 '03501',
 '09039',
 '00856',
 '00870',
 '01915',
 '03233',
 '02020',
 '03220',
 '08922',
 '01082',
 '01346',
 '01828',
 '03030',
 '04019',
 '04511',
 '09000',
 '04637',
 '03141',
 '05172',
 '01885',
 '00820',
 '00957',
 '01027',
 '01271',
 '00955',
 '01454',
 '01964',
 '01102',
 '00415',
 '00781',
 '09013',
 '02846',
 '00577',
 '04020',
 '04636',
 '00222',
 '00332',
 '04622',
 '01313',
 '01254',
 '00395',
 '01771',
 '05116',
 '03074',
 '10993',
 '08900',
 '00057',
 '00356',
 '00266',
 '01068',
 '00579',
 '00085',
 '01053',
 '01365',
 '03515',
 '04666',
 '05123',
 '02477',
 '00528',
 '00612',
 '08915',
 '02330',
 '01012',
 '06011',
 '01912',
 '02632',
 '03267',
 '01958',
 '04681',
 '01080',
 '06008',
 '00029',
 '00335',
 '00563',
 '00635',
 '00194',
 '00769',
 '05316',
 '01078',
 '00766',
 '03545',
 '00125',
 '00457',
 '01656',
 '04115',
 '00248',
 '00842',
 '00867',
 '01437',
 '01515',
 '00587',
 '02218',
 '00141',
 '03472',
 '87720',
 '02304',
 '00115',
 '03309',
 '02925',
 '03229',
 '00811',
 '10979',
 '01773',
 '01796',
 '00156',
 '00512',
 '03295',
 '01415',
 '01238',
 '00004',
 '00333',
 '00359',
 '04080',
 '00873',
 '00331',
 '00118',
 '00437',
 '04046',
 '00072',
 '00075',
 '09017',
 ...}

#### แก้ไขข้อมูลที่น่าสนใจ

**```'title','age'```**

In [28]:
data_alldb_df  ## เลือกเฉพาะคอลัมน์ที่สนใจในตาราง data_alldb คือ 'title','age' ##โดยตั้งชื่อตารางนี้ว่า data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,0,0

In [29]:
##ดู set ของข้อมูลในตาราง data_alldb_df ในคอลัมน์ title จะเห็นได้ว่าจังหวัดมีค่าที่ผิดปกติ ไม่อยุูในรูปแบบเดียวกัน
set(data_alldb_df['title'])

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 0,
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [30]:
data_alldb_df = data_alldb_df.rename(columns={'title':'sex'})  #     เปลี่ยนชื่อ คอลัมน์ title ให้ชื่อคอลัมน์เป็น sex
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66

In [31]:
data_alldb_df.shape

(38382, 11)

In [32]:
## ทำข้อมูลในตาราง data_alldb_df ในคอลัมน์ title ให้เหมือนกัน
data_alldb_df['sex'].replace({'  นาง':'หญิง',
 ' นาง':'หญิง',
 ' นางสาว':'หญิง',
 ' นาย':'ชาย',
 0:'ไม่ระบุ',
 'Mrs':'หญิง',
 'ชาย':'ชาย',
 'ด.ช.':'ชาย',
 'ด.ญ.':'หญิง',
 'ด.ต.':'ไม่ระบุ',
 'น':'ไม่ระบุ',
 'น.ส':'หญิง',
 'น.ส ':'หญิง',
 'น.ส.':'หญิง',
 'นส':'หญิง',
 'นส.':'หญิง',
 'นส. ':'หญิง',
 'นาง':'หญิง',
 'นาง ':'หญิง',
 'นาง.':'หญิง',
 'นางl':'หญิง',
 'นางสาว':'หญิง',
 'นางสาว ':'หญิง',
 'นางสาว                   ':'หญิง',
 'นาน':'ชาย',
 'นาบ':'ชาย',
 'นาย':'ชาย',
 'นาย ':'ชาย',
 'นาย  ':'ชาย',
 'นาว':'หญิง',
 'นาวสาว':'หญิง',
 'นา่ง':'หญิง',
 'น่าย':'ชาย',
 'พจอ.':'ไม่ระบุ',
 'พระ':'ไม่ระบุ',
 'พระครุ':'ไม่ระบุ',
 'พระปลัด':'ไม่ระบุ',
 'พลฯ':'ไม่ระบุ',
 'ร.ต.':'ไม่ระบุ',
 'ร.ต.ต.':'ไม่ระบุ',
 'ร.ต.ท.':'ไม่ระบุ',
 'ร.ต.อ.':'ไม่ระบุ',
 'รต.':'ไม่ระบุ',
 'ว่าที่ ร.ต.':'ไม่ระบุ',
 'ว่าที่ ร.ท.':'ไม่ระบุ',
 'ว่าที่ร้อยตรี':'ไม่ระบุ',
 'ส.อ.':'ไม่ระบุ',
 'ืนาง':'หญิง',
 'เด็กชาย':'ชาย',
 'เด็กหญิง':'หญิง'}, inplace=True)

In [33]:
set(data_alldb_df['sex'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [34]:
data_alldb_df['sex'] = data_alldb_df[['sex']].fillna('ไม่ระบุ')      # เติมค่าว่างของ sex ด้วย ไม่ระบุ
data_alldb_df.head()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66

In [35]:
data_alldb_df.shape

(38382, 11)

In [36]:
data_alldb_df['age'] = data_alldb_df['age'].astype(float).astype('Int64')

In [37]:
data_alldb_df.isnull().sum()      # ดูค่า missing

user            0
RowKey          0
date            0
ov              0
phone           0
site            0
time            0
urine           0
PartitionKey    0
sex             0
age             0
dtype: int64

In [38]:
mean_age = data_alldb_df['age'].mean()      # หาอายุเฉลี่ย
mean_age

53.2428742639779

In [39]:
data_alldb_df['age'] = data_alldb_df['age'].fillna(54)

In [40]:
data_alldb_df

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,0
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,0
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,0
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,0
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,0

In [41]:
data_alldb_df['age'].replace({-5789:54,
 -5441:54,
 -233:54,
 -37:54,
 -32:54,
 -29:54,
 0:54,
 127:54,
 138:54,
 151:54,
 312:54,
 315:54,
 507:54,
 590:54,
 591:54,
 1052:54,
 2030:54,
 2046:54,
 2051:54,
 2057:54,
 2063:54}, inplace=True)

In [42]:
set(data_alldb_df['age'])

{1,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 97}

In [43]:
data_alldb_df.isnull().sum()      # ดูค่า missing

user            0
RowKey          0
date            0
ov              0
phone           0
site            0
time            0
urine           0
PartitionKey    0
sex             0
age             0
dtype: int64

In [44]:
data_alldb_df.dtypes    #ดู type ของข้อมูล

user                    object
RowKey                  object
date            datetime64[ns]
ov                       int64
phone                   object
site                    object
time                    object
urine                   object
PartitionKey            object
sex                     object
age                      Int64
dtype: object

In [45]:
data_alldb_df   #ตารางของข้อมูล alldb

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54

### ข้อมูล hospital_list.xlsx

In [46]:
data_hospital_list = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))    # ไฟล์ที่เราต้องการ     # .read_excel อ่านไฟล์ที่เป็นexcel
data_hospital_list      # ดูหน้าตาข้อมูลว่าเป็นยังไง

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [47]:
data_hospital_list.head()  # ดูหน้าตาข้อมูลว่าหัวตารางเป็นยังไง โดยการใช้ .head()

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG

In [48]:
data_hospital_list.shape    # .shape เพื่อดูขนาดของข้อมูล

(17103, 16)

In [49]:
data_hospital_list.dtypes    #ดู type ของข้อมูล

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

#### ตัดเอาเฉพาะคอลัมน์ที่ต้องการ

In [50]:
data_hospital_list_df= data_hospital_list[['hcode','name','zone_name','province','amphur','tambon','name5']]   ## กำหนดให้ตารางชื่อ data_alldb_df โดยทำการเลือกเก็บข้อมูลในตาราง data_alldb จำนวนทั้งหมด 9  คอลัมน์ 
data_hospital_list_df ## แสดงตาราง

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [51]:
data_hospital_list_df = data_hospital_list_df.rename(columns={'name5':'type'})  #     เปลี่ยนชื่อ คอลัมน์ name5 ให้ชื่อคอลัมน์เป็น type
data_hospital_list_df.head()

,hcode,name,zone_name,province,amphur,tambon,type
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด

In [52]:
data_hospital_list_df.shape

(17103, 7)

## ตรวจสอบค่า Missing ของข้อมูล

### ตาราง data_alldb_df

In [53]:
data_alldb_df.isnull()

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
190,False,False,False,False,False,False,False,False,False,False,False
191,False,False,False,False,False,False,False,False,False,False,False
192,False,False,False,False,False,False,False,False,False,False,False
193,False,False,False,False,False,False,False,False,False,False,False
194,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
39812,False,False,False,False,False,False,False,False,False,False,False
39813,False,False,False,False,False,False,False,False,False,False,False
39814,False,False,False,False,False,False,False,False,False,False,False
39815,False,False,False,False,False,False,False,False,False,False,False
39816,False,False,False,False,False,False,False,False,False,False,False

In [54]:
data_alldb_df.isnull().any()

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
sex             False
age             False
dtype: bool

### ตาราง data_hospital_list

In [55]:
data_hospital_list_df.isnull()

       hcode   name  zone_name  province  amphur  tambon   type
0      False  False      False     False   False   False  False
1      False  False      False     False   False   False  False
2      False  False      False     False   False   False  False
3      False  False      False     False   False   False  False
4      False  False      False     False   False   False  False
...      ...    ...        ...       ...     ...     ...    ...
17098  False  False      False     False   False   False  False
17099  False  False      False     False   False   False  False
17100  False  False      False     False   False   False  False
17101  False  False      False     False   False   False  False
17102  False  False      False     False   False   False  False

[17103 rows x 7 columns]

In [56]:
data_hospital_list_df.isnull().any()

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
type          True
dtype: bool

#### แทน missing ด้วยค่าที่เหมาะสม

**```โดยคำสั่ง fillna() ของตาราง data_hospital_list```**

In [57]:
data_hospital_list_df= data_hospital_list_df.fillna(value={'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','type':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data_hospital_list_df
data_hospital_list_df # แสดงตาราง data_hospital_list_df

,hcode,name,zone_name,province,amphur,tambon,type
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [58]:
data_hospital_list_df.isnull().any()    # ดูค่า missing

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
type         False
dtype: bool

## merge ตาราง data_alldb_df กับ ตาราง data_hospital_list_df

In [59]:
data = data_alldb_df.merge(data_hospital_list_df,how='left', left_on='site',right_on='hcode')
data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38378,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38379,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38380,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38381,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### ตรวจสอบค่า Missing ของตาราง data

In [60]:
data.isnull().any()

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
sex             False
age             False
hcode            True
name             True
zone_name        True
province         True
amphur           True
tambon           True
type             True
dtype: bool

In [61]:
data.isnull().sum()

user             0
RowKey           0
date             0
ov               0
phone            0
site             0
time             0
urine            0
PartitionKey     0
sex              0
age              0
hcode           76
name            76
zone_name       76
province        76
amphur          76
tambon          76
type            76
dtype: int64

In [62]:
data[data['hcode'].isnull()]        # ดูข้อมูลที่เป็นค่า missing ใน hcode

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
30,05039,6F6ED841-7574-4C1C-AF10-CC6E2658E718,2022-03-28,0,"iPhone11,8",45972,10-36-41,ขุ่น,00001,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
795,05353,7A4BD7DC-5BD3-4928-B57F-CE7C86E32DAE,2022-03-19,4,"iPad13,1",75757,17-22-08,ขุ่น,00006,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
921,05353,218CB548-E5F1-4F5D-87C5-36EC2256B7CB,2022-03-19,4,"iPad13,1",75757,17-20-05,ปกติ (เหลืองใส),00007,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,05353,7CDA4D3C-6E12-4CF8-A94C-76E5CE4E9202,2022-03-19,4,"iPad13,1",75757,17-14-16,ปกติ (เหลืองใส),00012,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1806,05353,6FC7AE57-7365-4DCC-A656-772CBDDDA882,2022-03-19,0,"iPad13,1",75757,17-15-16,ขุ่น,00013,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38378,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38379,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38380,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38381,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### แทนค่า Missing ของตาราง data

In [63]:
data_updated = data.fillna(value={'hcode':'ไม่ระบุ','name':'ไม่ระบุ','zone_name':'ไม่ระบุ','province':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','type':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม จากตาราง data
data_updated # แสดงตาราง data_updated

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38378,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38379,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38380,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38381,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [64]:
print(data_updated.shape)
data_updated.head()

(38382, 18)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล

In [65]:
data_updated.isnull().any()

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
sex             False
age             False
hcode           False
name            False
zone_name       False
province        False
amphur          False
tambon          False
type            False
dtype: bool

In [66]:
data_updated.isnull().sum()     # ดูค่าว่าง

user            0
RowKey          0
date            0
ov              0
phone           0
site            0
time            0
urine           0
PartitionKey    0
sex             0
age             0
hcode           0
name            0
zone_name       0
province        0
amphur          0
tambon          0
type            0
dtype: int64

## ตารางที่จะนำไปใช้งาน

In [67]:
data_updated

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),00000,ไม่ระบุ,54,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11-36-34,ขุ่น,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38378,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18-10-29,มีตะกอน,99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38379,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38380,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38381,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),99999,ไม่ระบุ,54,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

## นำข้อมูลไปใช้ทำ Dashboard

In [68]:
#data_updated.to_csv(os.path.join(path,'Data.csv'))   # save ตารางให้เป็นไฟล์ csv เข้าไปเก็บไว้ใน drive เพื่อนำข้อมูลไปใช้ทำ Dashboard